# EV_charginging_facts

***Table of Contents***
1. Ev Car Poulation 
    - Information about the dataset
    - Extracting 
        1. Saving to a df
        2. Extracting the columns that we need and saving as a new df 
        3. Removing null values that we do not need 
    - Transforming 
        1. Adding registiration date column
        2. Splitting the vehichle location to lat and long 
        3. Adding country column:
        4. Adding current registiraction status
        5. Adding quantity field
        6. Adding pk field 
        7. Adding SCD columns
        8. Transforming column names 
2. EV Stations Data-Set
    - Information about the dataset
    - Extracting 
        1. Saving to a df
        2. Extracting the columns that we need and saving as a new df 
        3. Removing null values and filtering out unnecessary date that we do not need 
    - Transforming 
        1. Transforming status code to understandable format for users <br>
        2. Adding the quantity column<br>
        3. Extracting dollor amount from the price column and transforming to float<br>
        4. Adding currency column<br>
        5. Correcting column names<br>
        6. Correcting misspelling in the city names<br>
        7. Extracting distintic stations<br>
        8. Adding PK column<br>
        9. Adding SK Column <br>
        10. Transforming activity_date column to date type <br>
3.  Combining two data set to create the ev_charging_fact table
4.  Creating the Location data frame 
    a. extracting location info and save as a df<br>
    b. populate region info from a look up table<br>
    c. extract unqiue items<br>
    d. create a pk column<br>
    e. adding scd columns<br>
    f. merge to the result df to bring pk column to the fact df<br>
5.  Creating the date data frame 
    a. extracting location info and save as a df<br>
    b. spearate date, month ,year<br>
    c. create a pk column<br>
6.  Creating the fact table df 
7.  Saving cumulative df

***Libraries***

In [558]:
import warnings
warnings.simplefilter(action='ignore', category=Warning)
import  pandas as pd

## 1  EV Car Population Data

Information about the data set

* last updated at March 18, 2023
The VIN is assigned to a specific vehicle model by the manufacturer, and it remains with the vehicle throughout its lifetime. In contrast, the DOL Vehicle ID is assigned by the Washington State Department of Licensing (DOL) to a specific vehicle when it is registered and titled in Washington State. So the VIN identifies the make, model, and features of a particular vehicle, while the DOL Vehicle ID identifies the vehicle as registered in the state of Washington

we need to think this table as scd 3 because the records that this table can hardly change, for example VIN or vehicle id these identifications are important and they almost never change but only field that can change is the registiration status. In our data we do not have field for it but we can create one and assume that we have this field to keep things simple. Logic would be when we refreshing we will check
* do we have the record of the specific car in our new data
    * if we do we skip it 
    * else we set the current reg status not_active and prev status to active

* total populated and extracted data fields :19

### 1.1 ---------------------extracting the data -----------

1. Loading the data set in a data frame

In [559]:
ev_pop = pd.read_csv('data/Electric_Vehicle_Population_Data.csv')
ev_pop.head(2)

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJ3E1EB2J,Suffolk,Suffolk,VA,23435.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215,0,NaN,476647986,POINT (-76.42443 36.8752),NaN,5.180008e+10
1,5YJ3E1ECXL,Yakima,Yakima,WA,98908.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,308,0,14.0,103490145,POINT (-120.56916 46.58514),PACIFICORP,5.307700e+10

2 Exploring: we see that we have 121978 rows  and 17 columns

In [560]:
ev_pop.shape

(121978, 17)

In [561]:
ev_pop.columns

Index(['VIN (1-10)', 'County', 'City', 'State', 'Postal Code', 'Model Year',
       'Make', 'Model', 'Electric Vehicle Type',
       'Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Range',
       'Base MSRP', 'Legislative District', 'DOL Vehicle ID',
       'Vehicle Location', 'Electric Utility', '2020 Census Tract'],
      dtype='object')

3. extracting the information that we need and saving to a different data frame

In [562]:
df_ev_pop = ev_pop[['VIN (1-10)', 'DOL Vehicle ID', 'Make','Model','Vehicle Location', 'City', 'State', 'Model Year']]

4. Removing Null Values

In [563]:
df_ev_pop = df_ev_pop.loc[df_ev_pop['City'].notnull()]
df_ev_pop = df_ev_pop.loc[df_ev_pop['City'].notna()]

### 1.2 ------------------- Transforming the Data ---------

**1. adding registiration date column:** (this field does not exsist but we need it because we are missing a date dimension) and we are basing registiration date from model year. we are naming this field as activity date because we are going to use this field for our merge <br>

In [564]:
df_ev_pop["activity_date"] = "01/01/" + df_ev_pop['Model Year'].astype(str)

now we need to change the data type ad date type

In [565]:
df_ev_pop["activity_date"]= df_ev_pop["activity_date"].astype('datetime64[D]')

let's drop make

we can now drop model year since we have it as a date

In [566]:
df_ev_pop = df_ev_pop.drop(columns=['Model Year'])

**2. Splitting the vehichle location to lat and long**: We need these fields to spearated so we can create viz or run some analytics queries and we need to make sure 
that they are stored as float incase we need to calculate the distance in between two location

In [567]:
df_ev_pop[["val", "Latitude", "Longitude"]] = df_ev_pop['Vehicle Location'].str.split(' ', expand=True)
# removing paranthesis 
df_ev_pop["Latitude"] =  df_ev_pop["Latitude"].str[1:]
df_ev_pop["Longitude"] =df_ev_pop["Longitude"].str.replace(')',"")
df_ev_pop["Longitude"]= df_ev_pop["Longitude"].str.strip()
df_ev_pop["Latitude"] =  df_ev_pop["Latitude"].str.strip()
df_ev_pop.head()

,VIN (1-10),DOL Vehicle ID,Make,Model,Vehicle Location,City,State,activity_date,val,Latitude,Longitude
0,5YJ3E1EB2J,476647986,TESLA,MODEL 3,POINT (-76.42443 36.8752),Suffolk,VA,2018-01-01,POINT,-76.42443,36.8752
1,5YJ3E1ECXL,103490145,TESLA,MODEL 3,POINT (-120.56916 46.58514),Yakima,WA,2020-01-01,POINT,-120.56916,46.58514
2,WA1LAAGE7M,144941534,AUDI,E-TRON,POINT (-120.56916 46.58514),Yakima,WA,2021-01-01,POINT,-120.56916,46.58514
3,5YJ3E1EA1K,168513922,TESLA,MODEL 3,POINT (-79.4172 36.58598),Danville,VA,2019-01-01,POINT,-79.4172,36.58598
4,1FADP5CU9E,150749378,FORD,C-MAX,POINT (-76.21549 36.92478),Norfolk,VA,2014-01-01,POINT,-76.21549,36.92478

In [568]:
df_ev_pop["Longitude"]= df_ev_pop["Longitude"].astype(float)
df_ev_pop["Latitude"] =  df_ev_pop["Latitude"].astype(float)

In [569]:
df_ev_pop = df_ev_pop.drop(columns=['val'])
df_ev_pop = df_ev_pop.drop(columns=['Vehicle Location'])

**3. Adding country column:** We need this field for the merge and it is missing in the original data. We know that all this locations are in united states. so we populate all the rows with US

In [570]:
df_ev_pop["country"]= 'US'

**4. Adding current registiraction status :** this field does not exsist but we know that people move and when they move the registiration to that state might move to another state and you need to move your registiration. Therefore we are creating this field to keep track of this change

In [571]:
df_ev_pop["current_reg_status"]= 'active'

**5. Adding quantity field:** we want to keep track how many cars in that region so we are adding the quantity field

In [572]:
df_ev_pop["quantity"]= int(1)

***6. Extracting Unique Cars***

it seems that all our cars are unqiue so we do not have to worry about the dublicated values

In [573]:
# df_ev_pop['DOL Vehicle ID'].is_unique()
print('original data size', len(df_ev_pop))
print(' unique cars', df_ev_pop['DOL Vehicle ID'].nunique())

original data size 121976
 unique cars 121976

**7. Adding pk field :** I checked to see if the the records are unique and all of theme were. I used DOL Vehicle ID to check. Since we know we have unique cars we can create new pk number for the cars.

In [574]:
df_ev_pop =df_ev_pop.reset_index(drop=True)
df_ev_pop['ev_car_pop_id'] =  df_ev_pop.index+1

**8. Adding SCD columns:** Since we know that we do not need to keep track of anything other than the registiration status we can add scd type 3 columns.We are adding prev_reg_status column to keep track of the activty status and we will add the updated_at column to see when we update the registiration status.

In [575]:
df_ev_pop["prev_reg_status"] = ''

We can use current date to show the date that acitivity date has been adjusted. We will have registiration date and we will have updated at so this will give you the enough historical information about the this table

In [576]:
df_ev_pop["reg_sta_updated_at"]=  pd.Series(dtype='datetime64[ns]')

***9. Transforming column names :*** some of the columns have empty spots and we also want to show that this dv-pop data so we add

In [577]:
df_ev_pop.columns

Index(['VIN (1-10)', 'DOL Vehicle ID', 'Make', 'Model', 'City', 'State',
       'activity_date', 'Latitude', 'Longitude', 'country',
       'current_reg_status', 'quantity', 'ev_car_pop_id', 'prev_reg_status',
       'reg_sta_updated_at'],
      dtype='object')

In [578]:
df_ev_pop.rename(columns={'DOL Vehicle ID': 'dol_vehicle_id', 
                          'VIN (1-10)': 'vehicle_vin', 
                          'Make': 'vehicle_make',
                          'Latitude': 'latitude',
                          'Longitude': 'longitude',
                          'City': 'city',
                          'State': 'state',
                          'Model': 'vehicle_model',
                          'quantity': 'vehicle_pop_quantity',
                          }, inplace=True)

In [579]:
df_ev_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121976 entries, 0 to 121975
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   vehicle_vin           121976 non-null  object
 1   dol_vehicle_id        121976 non-null  int64
 2   vehicle_make          121976 non-null  object
 3   vehicle_model         121872 non-null  object
 4   city                  121976 non-null  object
 5   state                 121976 non-null  object
 6   activity_date         121976 non-null  datetime64[ns]
 7   latitude              121946 non-null  float64
 8   longitude             121946 non-null  float64
 9   country               121976 non-null  object
 10  current_reg_status    121976 non-null  object
 11  vehicle_pop_quantity  121976 non-null  int64
 12  ev_car_pop_id         121976 non-null  int64
 13  prev_reg_status       121976 non-null  object
 14  reg_sta_updated_at    0 non-null       datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(3), object(8)
memory usage: 14.0+ MB

our final data siz

In [580]:
df_ev_pop.shape

(121976, 15)

-----------------------

# 2 ev_station data set

* "Access Code": This tells us if the station is public or private
* "Status Code":

### 2. extracting the data -------------------------

**1. Saving to a df:**

In [581]:
ev_station = pd.read_csv('data/alt_fuel_stations.csv')
ev_station.head(5)

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access
0,CNG,Spire - Montgomery Operations Center,2951 Chestnut St,NaN,Montgomery,AL,36107,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,MD,NaN,NaN,NaN
1,CNG,PS Energy - Atlanta,340 Whitehall St,"From I-7585 N, exit 91 to Central Ave, left on...",Atlanta,GA,30303,NaN,770-350-3000,E,...,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN,NaN
2,CNG,Metropolitan Atlanta Rapid Transit Authority,2424 Piedmont Rd NE,NaN,Atlanta,GA,30324,NaN,NaN,E,...,NaN,NaN,NaN,NaN,Q,3000,LD,NaN,NaN,NaN
3,CNG,United Parcel Service,270 Marvin Miller Dr,NaN,Atlanta,GA,30336,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,HD,NaN,NaN,NaN
4,CNG,Clean Energy - Texas Department of Transportation,7721A Washington St,"I-10, Washington Ave exit, 1.5 blocks to the s...",Houston,TX,77007,NaN,866-809-4869,E,...,NaN,NaN,NaN,NaN,Q,3000 3600,MD,NaN,NaN,NaN

In [582]:
ev_station.columns

Index(['Fuel Type Code', 'Station Name', 'Street Address',
       'Intersection Directions', 'City', 'State', 'ZIP', 'Plus4',
       'Station Phone', 'Status Code', 'Expected Date',
       'Groups With Access Code', 'Access Days Time', 'Cards Accepted',
       'BD Blends', 'NG Fill Type Code', 'NG PSI', 'EV Level1 EVSE Num',
       'EV Level2 EVSE Num', 'EV DC Fast Count', 'EV Other Info', 'EV Network',
       'EV Network Web', 'Geocode Status', 'Latitude', 'Longitude',
       'Date Last Confirmed', 'ID', 'Updated At', 'Owner Type Code',
       'Federal Agency ID', 'Federal Agency Name', 'Open Date',
       'Hydrogen Status Link', 'NG Vehicle Class', 'LPG Primary',
       'E85 Blender Pump', 'EV Connector Types', 'Country',
       'Intersection Directions (French)', 'Access Days Time (French)',
       'BD Blends (French)', 'Groups With Access Code (French)',
       'Hydrogen Is Retail', 'Access Code', 'Access Detail Code',
       'Federal Agency Code', 'Facility Type', 'CNG Dispenser Num',
       'CNG On-Site Renewable Source', 'CNG Total Compression Capacity',
       'CNG Storage Capacity', 'LNG On-Site Renewable Source',
       'E85 Other Ethanol Blends', 'EV Pricing', 'EV Pricing (French)',
       'LPG Nozzle Types', 'Hydrogen Pressures', 'Hydrogen Standards',
       'CNG Fill Type Code', 'CNG PSI', 'CNG Vehicle Class',
       'LNG Vehicle Class', 'EV On-Site Renewable Source',
       'Restricted Access'],
      dtype='object')

**2. Extracting the columns that we need and saving as a new df:**

In [583]:
ev_station_v1 = ev_station[['ID','Status Code', "Station Name", 'Fuel Type Code', "Access Code",  "City", "State","Country", "Latitude", "Longitude", "Open Date", 'EV Pricing'] ]

In [584]:
len(ev_station_v1)

56800

**3. Removing null values and not nessary rows to limit unnessary data:**

In [585]:
ev_station_v1 = ev_station_v1.loc[ev_station_v1['City'].notnull()]
ev_station_v1 = ev_station_v1.loc[ev_station_v1['City'].notna()]

In [586]:
ev_station_v1.head()

,ID,Status Code,Station Name,Fuel Type Code,Access Code,City,State,Country,Latitude,Longitude,Open Date,EV Pricing
0,17,E,Spire - Montgomery Operations Center,CNG,private,Montgomery,AL,US,32.367916,-86.267021,2010-12-01,NaN
1,42,E,PS Energy - Atlanta,CNG,public,Atlanta,GA,US,33.745843,-84.398837,1994-07-15,NaN
2,45,E,Metropolitan Atlanta Rapid Transit Authority,CNG,private,Atlanta,GA,US,33.821911,-84.367461,1996-12-15,NaN
3,64,E,United Parcel Service,CNG,private,Atlanta,GA,US,33.760256,-84.543822,1997-01-01,NaN
4,72,E,Clean Energy - Texas Department of Transportation,CNG,public,Houston,TX,US,29.779918,-95.435385,1996-12-15,NaN

fuel type cng = Compressed Natural Gas (CNG) is a gasoline and diesel fuel alternative consisting primarily of methane. The gas is associated with other fossil fuels (coal or oil) and is created by methanogenic organisms in landfill

E85= E85 (or flex fuel) is a term that refers to high-level ethanol-gasoline blends containing 51% to 83% ethanol, depending on geography and season (see Fuel Properties and E85 Flex Fuel Specification).

ELEC : electric 

LPG= LNG is natural gas in its liquid form. 

BD: ?

HY : Hydrogen Fueling

In [587]:
ev_station_v1["Fuel Type Code"].unique()

array(['CNG', 'E85', 'ELEC', 'LNG', 'LPG', 'BD', 'HY'], dtype=object)

since we are interested in ev chars we do not need other charging stations information, we filter them out and then drop the fuel type code

In [588]:
ev_station_v1 = ev_station_v1.loc[ev_station_v1["Fuel Type Code"]=='ELEC']
# ev_station_v3 = ev_station_v2.loc[ev_station_v1["State"]=='WA']

In [589]:
ev_station_v1 = ev_station_v1.drop(columns=["Fuel Type Code"])

In [590]:
ev_station_v1.columns

Index(['ID', 'Status Code', 'Station Name', 'Access Code', 'City', 'State',
       'Country', 'Latitude', 'Longitude', 'Open Date', 'EV Pricing'],
      dtype='object')

In [591]:
len(ev_station_v1)

47086

### 2.3  transforming --------------------------------------

**1. Tranforming status code to user friendly print**

In [592]:
ev_station_v1['Status Code']= ['not_yet_accessible' if x == 'P' else 'temprorally_closed'  if x =='T'else 'open' for x in ev_station_v1['Status Code']]

**2. Adding the quantity column**

In [593]:
ev_station_v1["ev_cs_quantity"]= int(1)

**3. Extracting dollor amount from the price column and transforming to float**

In [594]:
ev_station_v1['EV Pricing'].head()

159     NaN
160    Free
161     NaN
162     NaN
163     NaN
Name: EV Pricing, dtype: object

In [595]:
#define function for conditional formatting
def cond_formatting(x):
    if x ==  'Free':
        return '$0'
    else:
        return x

In [596]:
ev_station_v1['EV Pricing']=ev_station_v1['EV Pricing'].apply(cond_formatting)

In [597]:
ev_station_v1['EV Pricing'].head()

159    NaN
160     $0
161    NaN
162    NaN
163    NaN
Name: EV Pricing, dtype: object

In [598]:
df_price = ev_station_v1['EV Pricing'].str.extract(r'\$(\d+(?:\.\d{2})?)')

In [599]:
print("new column size ", len(df_price))

print("df size ", len(ev_station_v1))

new column size  47086
df size  47086

In [600]:
ev_station_v1['EV Pricing'] = df_price

In [601]:
ev_station_v1['EV Pricing'] = ev_station_v1['EV Pricing'].astype(float)

**4. Adding currency column**

In [602]:
ev_station_v1['currency']= "USD"

***5. Correcting the column names***

In [603]:
ev_station_v1.rename(columns={'ID': 'charging_station_id', 
                              'Station Name' : 'station_name',
                          'Status Code': 'status_code', 
                          'Status Code': 'status_code', 
                          'EV Pricing': 'ev_price',
                          'Latitude': 'latitude',
                          'Longitude': 'longitude',
                          'Access Code' : 'access_code',
                          'Open Date' : 'activity_date',
                          'City': 'city',
                          'Country': 'country',
                          'State': 'state',
                          'Model': 'vehicle_model',
                          'quantity': 'vehicle_pop_quantity',
                          }, inplace=True)

***6. Correcting some misspelling***

In [604]:
ev_station_v1.loc[(ev_station_v1['city'] == 'Porland') & (ev_station_v1['state'] == 'OR'), 'city'] = 'Portland'
ev_station_v1.loc[(ev_station_v1['city'] == 'Astoira') & (ev_station_v1['state'] == 'OR'), 'city'] = 'Astoria'
ev_station_v1.loc[(ev_station_v1['city'] == 'Milw') & (ev_station_v1['state'] == 'WI'), 'city'] = 'Milwaukee'
ev_station_v1.loc[(ev_station_v1['city'] == 'El Dorado OCL') & (ev_station_v1['state'] == 'KS'), 'city'] = 'El Dorado'
ev_station_v1.loc[(ev_station_v1['city'] == 'Topeka OCL') & (ev_station_v1['state'] == 'KS'), 'city'] = 'Topeka'
ev_station_v1.loc[(ev_station_v1['city'] == 'Lawrence OCL') & (ev_station_v1['state'] == 'KS'), 'city'] = 'Lawrence'
ev_station_v1.loc[(ev_station_v1['city'] == "St. Mary's") & (ev_station_v1['state'] == 'KS'), 'city'] = 'Saint Marys'
ev_station_v1.loc[(ev_station_v1['city'] == "Richalnd") & (ev_station_v1['state'] == 'WA'), 'city'] = 'Richland'
ev_station_v1.loc[(ev_station_v1['city'] == "Juno Bech") & (ev_station_v1['state'] == 'FL'), 'city'] = 'Juno Beach'
ev_station_v1.loc[(ev_station_v1['city'] == "Cassellberry") & (ev_station_v1['state'] == 'FL'), 'city'] = 'Casselberry'
ev_station_v1.loc[(ev_station_v1['city'] == "Biglake") & (ev_station_v1['state'] == 'TX'), 'city'] = 'Big Lake'
ev_station_v1.loc[(ev_station_v1['city'] == "Amer Cyn") & (ev_station_v1['state'] == 'CA'), 'city'] = 'American Canyon'
ev_station_v1.loc[(ev_station_v1['city'] == "Sacranemto") & (ev_station_v1['state'] == 'CA'), 'city'] = 'Sacramento'
ev_station_v1.loc[(ev_station_v1['city'] == "Porteville") & (ev_station_v1['state'] == 'CA'), 'city'] = 'Porterville'
ev_station_v1.loc[(ev_station_v1['city'] == "SpringCity") & (ev_station_v1['state'] == 'TN'), 'city'] = 'Spring City'
ev_station_v1.loc[(ev_station_v1['city'] == "Mufreesboro") & (ev_station_v1['state'] == 'TN'), 'city'] = 'Murfreesboro'
ev_station_v1.loc[(ev_station_v1['city'] == "Coeur dAlene") & (ev_station_v1['state'] == 'ID'), 'city'] = "Coeur d'Alene"
ev_station_v1.loc[(ev_station_v1['city'] == "Broomfiled") & (ev_station_v1['state'] == 'CO'), 'city'] =  "Broomfield"
ev_station_v1.loc[(ev_station_v1['city'] == "Holidaysburg") & (ev_station_v1['state'] == 'PA'), 'city'] =  "Hollidaysburg"
ev_station_v1.loc[(ev_station_v1['city'] == "Owigsburg") & (ev_station_v1['state'] == 'PA'), 'city'] =  "Orwigsburg"
ev_station_v1.loc[(ev_station_v1['city'] == "East Peorria") & (ev_station_v1['state'] == 'IL'), 'city'] =  "East Peoria"
ev_station_v1.loc[(ev_station_v1['city'] == "Elk Grove Villa") & (ev_station_v1['state'] == 'IL'), 'city'] =  "Elk Grove Village"
ev_station_v1.loc[(ev_station_v1['city'] == "Phoenix City") & (ev_station_v1['state'] == 'AL'), 'city'] =  "Phenix City"

In [605]:
ev_station_v1.loc[(ev_station_v1['city'] == "Rockyhill") & (ev_station_v1['state'] == 'CT'), 'city'] =  "Rocky Hill"
ev_station_v1.loc[(ev_station_v1['city'] == "Rte 47, Washington") & (ev_station_v1['state'] == 'CT'), 'city'] =  "Woodbury"
ev_station_v1.loc[(ev_station_v1['city'] == "South Windsor") & (ev_station_v1['state'] == 'CT'), 'city'] =  "South Windsor"
ev_station_v1.loc[(ev_station_v1['city'] == "South Yarmotuh") & (ev_station_v1['state'] == 'MA'), 'city'] =  "South Yarmouth"
ev_station_v1.loc[(ev_station_v1['city'] == "Jamaica Plains") & (ev_station_v1['state'] == 'MA'), 'city'] =  "Jamaica Plain"
ev_station_v1.loc[(ev_station_v1['city'] == "SummerVille") & (ev_station_v1['state'] == 'NJ'), 'city'] =  "Somerville"
ev_station_v1.loc[(ev_station_v1['city'] == "Brea") & (ev_station_v1['state'] == 'KY'), 'city'] =  "Berea"
ev_station_v1.loc[(ev_station_v1['city'] == "Twinsburb") & (ev_station_v1['state'] == 'OH'), 'city'] =  "Twinsburg"
ev_station_v1.loc[(ev_station_v1['city'] == "Chentilly") & (ev_station_v1['state'] == 'VA'), 'city'] =  "Chantilly"
ev_station_v1.loc[(ev_station_v1['city'] == "St. Marys City") & (ev_station_v1['state'] == 'MD'), 'city'] =  "Saint Marys City"
ev_station_v1.loc[(ev_station_v1['city'] == "Elliott City") & (ev_station_v1['state'] == 'MD'), 'city'] =  "Ellicott City"
ev_station_v1.loc[(ev_station_v1['city'] == "Eldersberg") & (ev_station_v1['state'] == 'MD'), 'city'] =  "Eldersburg"
ev_station_v1.loc[(ev_station_v1['city'] == "Warner Robbins") & (ev_station_v1['state'] == 'GA'), 'city'] =  "Warner Robins"
ev_station_v1.loc[(ev_station_v1['city'] == "Robinsonille") & (ev_station_v1['state'] == 'MS'), 'city'] =  "Robinsonville"
ev_station_v1.loc[(ev_station_v1['city'] == "Kernsersville") & (ev_station_v1['state'] == 'NC'), 'city'] =  "Kernersville"
ev_station_v1.loc[(ev_station_v1['city'] == "Mt. St. Francis") & (ev_station_v1['state'] == 'IN'), 'city'] =  "Mount Saint Francis"
ev_station_v1.loc[(ev_station_v1['city'] == "Grauger") & (ev_station_v1['state'] == 'IN'), 'city'] =  "Granger"
ev_station_v1.loc[(ev_station_v1['city'] == "FE Warren AFB") & (ev_station_v1['state'] == 'WY'), 'city'] =  "Francis E. Warren Air Force Base"
ev_station_v1.loc[(ev_station_v1['city'] == "Clfton Park") & (ev_station_v1['state'] == 'NY'), 'city'] =  "Clifton Park"
ev_station_v1.loc[(ev_station_v1['city'] == "Amerst") & (ev_station_v1['state'] == 'NY'), 'city'] =  "Amherst"
ev_station_v1.loc[(ev_station_v1['city'] == "St Albans City") & (ev_station_v1['state'] == 'VT'), 'city'] =  "St Albans City F.C."
ev_station_v1.loc[(ev_station_v1['city'] == "L?hu?e") & (ev_station_v1['state'] == 'HI'), 'city'] =  "Lihue"

***7. Extracting distinct stations***

In [606]:
ev_station_v1.columns

Index(['charging_station_id', 'status_code', 'station_name', 'access_code',
       'city', 'state', 'country', 'latitude', 'longitude', 'activity_date',
       'ev_price', 'ev_cs_quantity', 'currency'],
      dtype='object')

with same station name there can be multiple stations but in the different streets in the same city and state so we use lat and long to distinct them
we need to check the address and the street and zip however i checked and it seems that the id column shows if it is unique or not. So we do not have any dublicate values

In [607]:
show_dublicates  = ev_station_v1.groupby(['charging_station_id'], as_index=False).size()
print(len(show_dublicates.loc[show_dublicates['size'] > 1]))
print("The number of columns repeated only once")
print(len(show_dublicates.loc[show_dublicates['size'] <2]))
print("unique items size", len(show_dublicates))

0
The number of columns repeated only once
47086
unique items size 47086

**7. Adding PK column**

In [608]:
ev_station_v1 =ev_station_v1.reset_index(drop=True)
ev_station_v1['ev_cs_dim_id'] =  ev_station_v1.index+1

**8. Adding SK Column**

In [609]:
ev_station_v1 =ev_station_v1.reset_index(drop=True)
ev_station_v1['sk_ev_dim_id'] =  ev_station_v1.index+1

**9. Adding SCD columns:**

In [610]:
ev_station_v1["row_effective_date"]= pd.to_datetime("04/21/2023")
ev_station_v1["row_expiration_date"]= pd.Series(dtype='datetime64[ns]')
ev_station_v1["row_status"]="active"

In [611]:
ev_station_v1.columns

Index(['charging_station_id', 'status_code', 'station_name', 'access_code',
       'city', 'state', 'country', 'latitude', 'longitude', 'activity_date',
       'ev_price', 'ev_cs_quantity', 'currency', 'ev_cs_dim_id',
       'sk_ev_dim_id', 'row_effective_date', 'row_expiration_date',
       'row_status'],
      dtype='object')

**10. Transforming activity_date column to date type**

In [612]:
ev_station_v1["activity_date"]= ev_station_v1["activity_date"].astype('datetime64[D]')

In [613]:
ev_station_v1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47086 entries, 0 to 47085
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   charging_station_id  47086 non-null  int64
 1   status_code          47086 non-null  object
 2   station_name         47086 non-null  object
 3   access_code          47086 non-null  object
 4   city                 47086 non-null  object
 5   state                47086 non-null  object
 6   country              47086 non-null  object
 7   latitude             47086 non-null  float64
 8   longitude            47086 non-null  float64
 9   activity_date        45791 non-null  datetime64[ns]
 10  ev_price             13376 non-null  float64
 11  ev_cs_quantity       47086 non-null  int64
 12  currency             47086 non-null  object
 13  ev_cs_dim_id         47086 non-null  int64
 14  sk_ev_dim_id         47086 non-null  int64
 15  row_effective_date   47086 non-null  datetime64[ns]
 16  row_expiration_date  0 non-null      datetime64[ns]
 17  row_status           47086 non-null  object
dtypes: datetime64[ns](3), float64(3), int64(4), object(8)
memory usage: 6.5+ MB

-------------------

# 3. combining two data frames to one df

we need to merge two data frame 
we need to check if the sizes are staied the same

In [614]:
print(ev_station_v1.shape)
print(df_ev_pop.shape)
print("total data", (len(ev_station_v1)+len(df_ev_pop)))

(47086, 18)
(121976, 15)
total data 169062

In [615]:
print('result will have ', ((18-6)+(15-6)+6+1), 'columns')#+1 for the _merge column

result will have  28 columns

In [616]:
df_ev_pop.columns

Index(['vehicle_vin', 'dol_vehicle_id', 'vehicle_make', 'vehicle_model',
       'city', 'state', 'activity_date', 'latitude', 'longitude', 'country',
       'current_reg_status', 'vehicle_pop_quantity', 'ev_car_pop_id',
       'prev_reg_status', 'reg_sta_updated_at'],
      dtype='object')

In [617]:
ev_station_v1.columns

Index(['charging_station_id', 'status_code', 'station_name', 'access_code',
       'city', 'state', 'country', 'latitude', 'longitude', 'activity_date',
       'ev_price', 'ev_cs_quantity', 'currency', 'ev_cs_dim_id',
       'sk_ev_dim_id', 'row_effective_date', 'row_expiration_date',
       'row_status'],
      dtype='object')

In [618]:
result = pd.merge(ev_station_v1,
                  df_ev_pop,
                  on = ['latitude', 'longitude','city', 'state','country', 'activity_date'],
                  how='outer',
                  indicator=True
)

In [619]:
result.shape

(169062, 28)

In [620]:
169062 -168975

87

# 4.Creating the Location data frame

1. extract the location data

In [621]:
location_df= result.groupby(['latitude', 'longitude','city', 'state', 'country'], as_index=False).size()
location_df.head()

    latitude  longitude       city state country  size
0 -159.71288   21.96605     Kekaha    HI      US     1
1 -158.00833   21.31431  Ewa Beach    HI      US     1
2 -157.94001   21.34183   Honolulu    HI      US     1
3 -157.93084   21.38013       Aiea    HI      US     1
4 -147.72213   64.84527  Fairbanks    AK      US     1

In [622]:
location_df_distinct_city = result.groupby(['city', 'state', 'country'], as_index=False).size()

2. Add region data

In [623]:
import regionInfo

location_df['region']= location_df['state'].apply(regionInfo.get_region)

In [624]:
location_df.head()

    latitude  longitude       city state country  size region
0 -159.71288   21.96605     Kekaha    HI      US     1   West
1 -158.00833   21.31431  Ewa Beach    HI      US     1   West
2 -157.94001   21.34183   Honolulu    HI      US     1   West
3 -157.93084   21.38013       Aiea    HI      US     1   West
4 -147.72213   64.84527  Fairbanks    AK      US     1   West

In [625]:
location_df = location_df.drop(columns=['size'])

In [626]:
location_df.head()

    latitude  longitude       city state country region
0 -159.71288   21.96605     Kekaha    HI      US   West
1 -158.00833   21.31431  Ewa Beach    HI      US   West
2 -157.94001   21.34183   Honolulu    HI      US   West
3 -157.93084   21.38013       Aiea    HI      US   West
4 -147.72213   64.84527  Fairbanks    AK      US   West

**adding city lat and long**

creating dstinct city,state, country df

In [627]:
distinct_city = location_df.groupby(['city', 'state', 'country'], as_index=False).size()

In [628]:
#import pandas as pd 
# city_lat_long = pd.read_pickle('data/df_cities2.pkl')
# city_lat_long.head()
# city_lat_long_missing = pd.read_pickle('data/df_cities_missing2.pkl')
# print("size",len(city_lat_long_missing))
# city_lat_long_missing.head()
# city_lat_long_v3 =  pd.concat([city_lat_long, city_lat_long_missing], ignore_index=True)
# print('size',len( city_lat_long_v3))
# print('original distinct df', len(distinct_city))
# print('difference', (6691- 6687))
#city_lat_long_v3.to_pickle('data/citylatlong.pk')

In [629]:
city_lat_long_v3= pd.read_pickle('data/citylatlong.pk')

In [630]:
city_lat_long_v3.columns

Index(['City', 'State', 'Country', 'size', 'city_lat', 'city_long'], dtype='object')

In [631]:
city_lat_long_v3.rename(columns={'City':'city', 'State':'state', 'Country':'country'}, inplace=True)

In [632]:
distinct_city.merge(city_lat_long_v3, on=['city', 'state', 'country'], how='outer', indicator=True).query("_merge != 'both'")

,city,state,country,size_x,size_y,city_lat,city_long,_merge
507,Big Lake,TX,US,1.0,NaN,NaN,NaN,left_only
1735,Eldersburg,MD,US,1.0,NaN,NaN,NaN,left_only
2083,Francis E. Warren Air Force Base,WY,US,1.0,NaN,NaN,NaN,left_only
2313,Granger,IN,US,1.0,NaN,NaN,NaN,left_only
2639,Hollidaysburg,PA,US,1.0,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...
6699,SummerVille,NJ,US,NaN,1.0,NaN,NaN,right_only
6700,Topeka OCL,KS,US,NaN,3.0,NaN,NaN,right_only
6701,Twinsburb,OH,US,NaN,1.0,NaN,NaN,right_only
6702,Warner Robbins,GA,US,NaN,1.0,NaN,NaN,right_only
6703,Wilkeson,WA,US,NaN,4.0,NaN,NaN,right_only

In [633]:
merge = pd.merge(location_df, city_lat_long_v3 , on =['city', 'state', 'country'])

In [634]:
merge.head()

,latitude,longitude,city,state,country,region,size,city_lat,city_long
0,-159.712880,21.966050,Kekaha,HI,US,West,1,21.967281,-159.713603
1,-158.008330,21.314310,Ewa Beach,HI,US,West,3,21.315603,-158.008804
2,21.328272,-158.027542,Ewa Beach,HI,US,West,3,21.315603,-158.008804
3,21.334180,-158.023420,Ewa Beach,HI,US,West,3,21.315603,-158.008804
4,-157.940010,21.341830,Honolulu,HI,US,West,139,21.304547,-157.855676

In [635]:
merge.loc[(merge['city'] == 'Riverside') & (merge['state'] == 'MO'), 'city_lat'] = 39.1775
merge.loc[(merge['city'] == 'Riverside') & (merge['state'] == 'MO'), 'city_long'] = 94.6130
merge.loc[(merge['city'] == 'Albertville') & (merge['state'] == 'NM'), 'city_lat'] = 45.2312
merge.loc[(merge['city'] == 'Albertville') & (merge['state'] == 'NM'), 'city_long'] = 93.6688
merge.loc[(merge['city'] == 'NOT AVAILABLE FOR USE') & (merge['state'] == 'MI'), 'city_lat'] = 44.3148
merge.loc[(merge['city'] == 'NOT AVAILABLE FOR USE') & (merge['state'] == 'MI'), 'city_long'] = 85.6024

In [636]:
# city_lat_long_missing_filled = city_lat_long_missing.loc[city_lat_long_missing['city_lat'].notna(), :]
# city_lat_long_missing2 = city_lat_long_missing.loc[~ city_lat_long_missing['city_lat'].notna(), :]
# city_lat_long_missing2_filled = city_lat_long_missing2.loc[city_lat_long_missing2['city_lat'].notna(), :]
# city_lat_long_missing3 = city_lat_long_missing2.loc[~ city_lat_long_missing2['city_lat'].notna(), :]
# city_lat_long_v1 = pd.concat([city_lat_long, city_lat_long_missing_filled], ignore_index=True)
# city_lat_long_v2 =  pd.concat([city_lat_long_v1, city_lat_long_missing2_filled], ignore_index=True)
# city_lat_long_v3 =  pd.concat([city_lat_long_v2, city_lat_long_missing3_filled], ignore_index=True)
# # save the DataFrame to a pickle file
# city_lat_long_missing4.to_pickle('df_cities_missing2.pkl')
# city_lat_long_v3.to_pickle('df_cities2.pkl')

In [637]:
merge.head()

,latitude,longitude,city,state,country,region,size,city_lat,city_long
0,-159.712880,21.966050,Kekaha,HI,US,West,1,21.967281,-159.713603
1,-158.008330,21.314310,Ewa Beach,HI,US,West,3,21.315603,-158.008804
2,21.328272,-158.027542,Ewa Beach,HI,US,West,3,21.315603,-158.008804
3,21.334180,-158.023420,Ewa Beach,HI,US,West,3,21.315603,-158.008804
4,-157.940010,21.341830,Honolulu,HI,US,West,139,21.304547,-157.855676

3. dropping dublicates

In [638]:
#3. dropping dublicates 
len(merge)
merge.drop_duplicates(subset=['latitude', 'longitude', 'city', 'state', 'country'], inplace=True)
len(merge)

46582

**3. create pk column**

In [639]:
# generate unique IDs from latitude and longitude
merge['location_id'] = (merge['latitude'].astype(str) + merge['longitude'].astype(str) + merge['city']).apply(hash).apply(abs)

i can drop dublicates

In [640]:
merge.columns

Index(['latitude', 'longitude', 'city', 'state', 'country', 'region', 'size',
       'city_lat', 'city_long', 'location_id'],
      dtype='object')

* it is important to note that while two cities may have the same latitude and longitude coordinates, they should still have unique names or other identifiers to differentiate them. Therefore, it is important to use other data points such as city names, state names, and zip codes to uniquely identify each city in your dataset.

In [641]:
location_df = merge
location_df.head()

,latitude,longitude,city,state,country,region,size,city_lat,city_long,location_id
0,-159.712880,21.966050,Kekaha,HI,US,West,1,21.967281,-159.713603,187313459660367906
1,-158.008330,21.314310,Ewa Beach,HI,US,West,3,21.315603,-158.008804,3371528281439756095
2,21.328272,-158.027542,Ewa Beach,HI,US,West,3,21.315603,-158.008804,1907145770817222756
3,21.334180,-158.023420,Ewa Beach,HI,US,West,3,21.315603,-158.008804,4283620215108123398
4,-157.940010,21.341830,Honolulu,HI,US,West,139,21.304547,-157.855676,5075517416513713402

In [642]:
# location_df = location_df.reset_index(drop=True)
# location_df['location_id']= location_df.index+1

In [643]:
result.shape

(169062, 28)

**adding scd columns**

In [644]:
import numpy as np

In [645]:
location_df['latitude_prev']= float(np.NaN)
location_df['longitude_prev']= float(np.NaN)

**merging to the fact table**

In [646]:
result = pd.merge(result, location_df, on=['latitude', 'longitude', 'city', 'state', 'country'])
result.head()

,charging_station_id,status_code,station_name,access_code,city,state,country,latitude,longitude,activity_date,...,prev_reg_status,reg_sta_updated_at,_merge,region,size,city_lat,city_long,location_id,latitude_prev,longitude_prev
0,1517.0,open,LADWP - Truesdale Center,private,Sun Valley,CA,US,34.248319,-118.387971,1999-10-15,...,NaN,NaT,left_only,West,6,NaN,NaN,6716732250948426084,NaN,NaN
1,1519.0,open,LADWP - West LA District Office,private,Los Angeles,CA,US,34.052542,-118.448504,2020-02-28,...,NaN,NaT,left_only,West,1345,34.053691,-118.242766,9169372264301522986,NaN,NaN
2,1520.0,temprorally_closed,Southern California Edison - Rosemead Office B...,private,Rosemead,CA,US,34.050745,-118.081014,2011-08-01,...,NaN,NaT,left_only,West,15,NaN,NaN,5622151857378814,NaN,NaN
3,75450.0,temprorally_closed,Southern California Edison - Rosemead Office B...,private,Rosemead,CA,US,34.050745,-118.081014,2016-03-15,...,NaN,NaT,left_only,West,15,NaN,NaN,5622151857378814,NaN,NaN
4,1523.0,open,Los Angeles Convention Center,public,Los Angeles,CA,US,34.040539,-118.271387,1995-08-30,...,NaN,NaT,left_only,West,1345,34.053691,-118.242766,8024462671415825341,NaN,NaN

In [647]:
result.shape

(169019, 35)

In [648]:
# query example 
# result['dv_pop_quantity']=result['dv_pop_quantity'].fillna(0)
# result['quantity']=result['quantity'].fillna(0)
# result['quantity'].unique()

# summary = result.groupby(['City', 'State', 'Country']).agg({'dv_pop_quantity': 'sum','quantity': 'sum' })
# summary

---------------------------

In [650]:
result.columns

Index(['charging_station_id', 'status_code', 'station_name', 'access_code',
       'city', 'state', 'country', 'latitude', 'longitude', 'activity_date',
       'ev_price', 'ev_cs_quantity', 'currency', 'ev_cs_dim_id',
       'sk_ev_dim_id', 'row_effective_date', 'row_expiration_date',
       'row_status', 'vehicle_vin', 'dol_vehicle_id', 'vehicle_make',
       'vehicle_model', 'current_reg_status', 'vehicle_pop_quantity',
       'ev_car_pop_id', 'prev_reg_status', 'reg_sta_updated_at', '_merge',
       'region', 'size', 'city_lat', 'city_long', 'location_id',
       'latitude_prev', 'longitude_prev'],
      dtype='object')

# 5 Creating the date df

a. extracting the date column as a new df

In [ ]:
date_df = result.loc[:, ['activity_date']].drop_duplicates( keep='first')

In [ ]:
len(date_df)

In [ ]:
date_df.info()

In [ ]:
date_df['day'] = date_df['activity_date'].dt.day.fillna(0).astype(int)
date_df['month']= date_df['activity_date'].dt.month.fillna(0).astype(int)
date_df['year']= date_df['activity_date'].dt.year.fillna(0).astype(int)

In [ ]:
date_df.head()

**b. Adding pk column**

In [ ]:
date_df =date_df.reset_index(drop=True)
date_df['date_id']=  date_df.index+1

**c. merging to result fact dataframe**

In [ ]:
result = pd.merge(result, date_df, on=['activity_date'])
result.head()

-----------------------  --------------------------------

# 6 ev charging facts df

In [ ]:
result.columns

adding pk column

In [ ]:
result =result.reset_index(drop=True)
result['ev_char_fact_id']=  result.index+1

In [ ]:
ev_charginging_facts = result.loc[:, ['ev_char_fact_id','ev_car_pop_id','ev_cs_dim_id','location_id','date_id','vehicle_pop_quantity', 'ev_cs_quantity','ev_price']]

In [ ]:
ev_charginging_facts.head()

replace ev_car_pop_id	NaN with -1

we have to create a an fk with null values in both table when we load

In [ ]:
ev_charginging_facts['ev_car_pop_id'] = ev_charginging_facts['ev_car_pop_id'].fillna(-1)
ev_charginging_facts['ev_cs_dim_id'] = ev_charginging_facts['ev_cs_dim_id'].fillna(-1)
ev_charginging_facts['location_id'] = ev_charginging_facts['location_id'].fillna(-1)

In [ ]:
ev_charginging_facts['ev_char_fact_id'].is_unique

# 7 Creating the cumulative dataframe for the cumulative fact table

in here we will group by the city lat and long and sum

In [ ]:
result.columns

In [ ]:
#query example 
# result['dv_pop_quantity']=result['dv_pop_quantity'].fillna(0)
# result['quantity']=result['quantity'].fillna(0)
# result['quantity'].unique()

summary = result.groupby(['year','month','region','city_lat', 'city_long','city', 'state', 'country']).agg({'vehicle_pop_quantity': 'sum','ev_cs_quantity': 'sum' })
summary = summary.reset_index()

In [ ]:
len(summary)

In [ ]:
----

In [ ]:
summary

In [ ]:
summary.to_pickle('cumulative_df.pkl')

In [ ]:
----

---------------------------------                          --------------------------------
----------------------------- creatingthe tables and Loading them  --------------------------
---------------------------------                          --------------------------------

### 7.1Creating the ev car population table

In [ ]:
df_ev_pop.columns

In [ ]:
ev_car_populaion_dim = df_ev_pop[[ 'ev_car_pop_id','dol_vehicle_id','vehicle_vin', 'vehicle_make', 'vehicle_model','current_reg_status', 
       'prev_reg_status', 'reg_sta_updated_at']]

In [ ]:
ev_car_populaion_dim.columns

In [ ]:
ev_car_populaion_dim.info()

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.
cursor.execute("DROP TABLE IF EXISTS ev_car_populaion")

#Creating table as per requirement
query ='''CREATE TABLE ev_car_populaion(
    ev_car_pop_id integer UNIQUE NOT NULL,
    dol_vehicle_id int,
    vehicle_vin varchar(500),
    vehicle_make varchar(500),
    vehicle_model varchar(1000),
    current_reg_status varchar(500),
    prev_reg_status varchar(500),
    reg_sta_updated_at date,
   PRIMARY KEY(ev_car_pop_id)
)'''

##Creating a database
cursor.execute(query)
print("Table has been created successfully........")
conn.commit()
# Get the updated list of tables
sqlGetTableList = "SELECT table_schema,table_name FROM information_schema.tables where table_schema='public' ORDER BY table_schema,table_name ;"
#sqlGetTableList = "\dt"


# Retrieve all the rows from the cursor

cursor.execute(sqlGetTableList)
tables = cursor.fetchall()

 
# Print the names of the tables
print("list of tables in partsUnlimited database ")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

loading the data

In [ ]:
from sqlalchemy import create_engine
# establish connections
conn_string = 'postgresql://postgres:arnold@localhost/partsunlimited'
  
db = create_engine(conn_string)
conn = db.connect()
print
#converting data to sql
ev_car_populaion_dim.to_sql('ev_car_populaion', conn, if_exists= 'append', index=False)
conn.commit()
db.dispose() 
conn.close()

checking to see if the data has been load

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
# create the SQL query to insert the data into the table
query = " select * from ev_car_populaion LIMIT 5"
cursor.execute(query) 
tables = cursor.fetchall()

temp = pd.DataFrame(tables, columns=[['ev_car_pop_id', 'dol_vehicle_id', 'vehicle_vin', 'vehicle_make',
       'vehicle_model', 'current_reg_status', 'prev_reg_status',
       'reg_sta_updated_at']])
print(temp)
cursor.close()
conn.close()

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.

#altering the table for the constraint
query =''' INSERT INTO ev_car_populaion (ev_car_pop_id, dol_vehicle_id, vehicle_vin, 
vehicle_make, vehicle_model, current_reg_status, prev_reg_status, reg_sta_updated_at)
VALUES (-1, -1, -1, NULL, NULL, NULL, NULL, NULL);

'''
##Creating a database
cursor.execute(query)
print("Table has been altered successfully........")
conn.commit()
# Get the updated list of tables
sqlGetTableList = "SELECT table_schema,table_name FROM information_schema.tables where table_schema='public' ORDER BY table_schema,table_name ;"
#sqlGetTableList = "\dt"
# Retrieve all the rows from the cursor

cursor.execute(sqlGetTableList)
tables = cursor.fetchall()

 
# Print the names of the tables
print("the table has been altered")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

### 7.2 creating the ev_charging_stations table

In [ ]:
ev_station_v1.columns

In [ ]:
ev_charging_stations_dim = ev_station_v1[['ev_cs_dim_id', 'sk_ev_dim_id','charging_station_id','station_name','status_code', 'access_code','currency', 
                                          'row_effective_date', 'row_expiration_date','row_status']]

In [ ]:
ev_charging_stations_dim.columns

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.
cursor.execute("DROP TABLE IF EXISTS ev_charging_stations")

#Creating table as per requirement
query ='''CREATE TABLE ev_charging_stations(
    ev_cs_dim_id integer UNIQUE NOT NULL,
    sk_ev_dim_id int,
    charging_station_id int,
    station_name varchar(500),
    status_code varchar(500),
    access_code varchar(1000),
    currency varchar(500),
    row_effective_date date,
    row_expiration_date date,
    row_status varchar(500),
   PRIMARY KEY(ev_cs_dim_id)
)'''

##Creating a database
cursor.execute(query)
print("Table has been created successfully........")
conn.commit()
# Get the updated list of tables
sqlGetTableList = "SELECT table_schema,table_name FROM information_schema.tables where table_schema='public' ORDER BY table_schema,table_name ;"
#sqlGetTableList = "\dt"


# Retrieve all the rows from the cursor

cursor.execute(sqlGetTableList)
tables = cursor.fetchall()

 
# Print the names of the tables
print("list of tables in partsUnlimited database ")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

loading the data

In [ ]:
from sqlalchemy import create_engine
# establish connections
conn_string = 'postgresql://postgres:arnold@localhost/partsunlimited'
  
db = create_engine(conn_string)
conn = db.connect()
print
#converting data to sql
ev_charging_stations_dim.to_sql('ev_charging_stations', conn, if_exists= 'append', index=False)
conn.commit()
db.dispose() 
conn.close()

In [ ]:
ev_charging_stations_dim.columns

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
# create the SQL query to insert the data into the table
query = " select * from ev_charging_stations LIMIT 5"
cursor.execute(query) 
tables = cursor.fetchall()

temp = pd.DataFrame(tables, columns=[['ev_cs_dim_id', 'sk_ev_dim_id', 'charging_station_id', 'station_name',
       'status_code', 'access_code', 'currency', 'row_effective_date',
       'row_expiration_date', 'row_status']])
print(temp)
cursor.close()
conn.close()

altering -1 values

In [ ]:
import numpy as np

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.

#altering the table for the constraint
query =''' INSERT INTO ev_charging_stations (ev_cs_dim_id, sk_ev_dim_id, charging_station_id, 
station_name, status_code, access_code, row_effective_date, row_expiration_date, row_status)
VALUES (-1, -1, -1, NULL, NULL, NULL, NULL, NULL, NULL);

'''
##Creating a database
cursor.execute(query)
print("Table has been altered successfully........")
conn.commit()
# Get the updated list of tables
sqlGetTableList = "SELECT table_schema,table_name FROM information_schema.tables where table_schema='public' ORDER BY table_schema,table_name ;"
#sqlGetTableList = "\dt"
# Retrieve all the rows from the cursor

cursor.execute(sqlGetTableList)
tables = cursor.fetchall()

 
# Print the names of the tables
print("the table has been altered")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

### 7.3 loading the date table

In [ ]:
date_df.columns

In [ ]:
date_df.rename(columns={'activity_date': 'date'}, inplace=True)

In [ ]:
from sqlalchemy import create_engine
# establish connections
conn_string = 'postgresql://postgres:arnold@localhost/partsunlimited'
  
db = create_engine(conn_string)
conn = db.connect()
print
#converting data to sql
date_df.to_sql('date_dim', conn, if_exists= 'append', index=False)
conn.commit()
db.dispose() 
conn.close()

### 7.4 Loading the location table

In [ ]:
location_df.head()

In [ ]:
location_df= location_df.drop('size',axis=1 )

In [ ]:
location_df.rename(columns={"latitude_prev": 'lat_prev',"longitude_prev": 'long_prev' }, inplace=True)

In [ ]:
location_df['updated_at']= pd.to_datetime(np.NaN)

In [ ]:
from sqlalchemy import create_engine
# establish connections
conn_string = 'postgresql://postgres:arnold@localhost/partsunlimited'
  
db = create_engine(conn_string)
conn = db.connect()
print
#converting data to sql
location_df.to_sql('location_dim', conn, if_exists= 'append', index=False)
conn.commit()
db.dispose() 
conn.close()

### 7.5 Load Ev Charging Facts

In [ ]:
ev_charginging_facts.head()

In [ ]:
ev_charginging_facts.info()

In [ ]:
ev_charginging_facts['ev_car_pop_id']= ev_charginging_facts['ev_car_pop_id'].astype(int)
ev_charginging_facts['ev_cs_dim_id']= ev_charginging_facts['ev_cs_dim_id'].astype(int)
# Fill missing and non-finite values with 0
ev_charginging_facts['vehicle_pop_quantity']= ev_charginging_facts['vehicle_pop_quantity'].fillna(0).replace([np.inf, -np.inf], 0)
ev_charginging_facts['vehicle_pop_quantity']= ev_charginging_facts['vehicle_pop_quantity'].astype(int)
ev_charginging_facts['ev_cs_quantity']= ev_charginging_facts['ev_cs_quantity'].fillna(0).replace([np.inf, -np.inf], 0)
ev_charginging_facts['ev_cs_quantity']= ev_charginging_facts['ev_cs_quantity'].astype(int)
ev_charginging_facts['ev_price']= ev_charginging_facts['ev_price'].fillna(0).replace([np.inf, -np.inf], 0)
ev_charginging_facts['ev_price']= ev_charginging_facts['ev_price'].astype(float)

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.
cursor.execute("DROP TABLE IF EXISTS ev_charginging_facts")

#Creating table as per requirement
query ='''CREATE TABLE ev_charginging_facts(
    ev_char_fact_id integer UNIQUE NOT NULL PRIMARY KEY,
    ev_car_pop_id integer,
    ev_cs_dim_id integer,
    location_id integer,
    date_id integer,
    vehicle_pop_quantity int,
    ev_cs_quantity int,
    ev_price float,
    CONSTRAINT fk_ev_car_pop_id
        FOREIGN KEY (ev_car_pop_id)
        REFERENCES ev_car_populaion(ev_car_pop_id),
    CONSTRAINT fk_ev_cs_dim_id
        FOREIGN KEY (ev_cs_dim_id)
        REFERENCES ev_charging_stations(ev_cs_dim_id),
     CONSTRAINT fk_date_id
        FOREIGN KEY (date_id)
        REFERENCES date_dim (date_id),
    CONSTRAINT fk_location_id
        FOREIGN KEY (location_id)
        REFERENCES location_dim (location_id)
)'''

##Creating a database
cursor.execute(query)
print("Table has been created successfully........")
conn.commit()
# Get the updated list of tables
sqlGetTableList = "SELECT table_schema,table_name FROM information_schema.tables where table_schema='public' ORDER BY table_schema,table_name ;"
#sqlGetTableList = "\dt"


# Retrieve all the rows from the cursor

cursor.execute(sqlGetTableList)
tables = cursor.fetchall()

 
# Print the names of the tables
print("list of tables in partsUnlimited database ")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

getting integer index out of range error

loading the table

In [ ]:
from sqlalchemy import create_engine
# establish connections
conn_string = 'postgresql://postgres:arnold@localhost/partsunlimited'
  
db = create_engine(conn_string)
conn = db.connect()
print
#converting data to sql
ev_charginging_facts.to_sql('ev_charginging_facts', conn, if_exists= 'replace', index=False)
conn.commit()
db.dispose() 
conn.close()