# ETL - evWest data

1. Cleaning the original data 
2. Splitting data into tables and adding SCD, PK and additinal columns(the data is limited therefore we are adding wendor since columns to give a dimension to the dat)
    * manufacturers table 
    * products table
    * date table
    * location table (this is missing, I will need to add this and run again)
    * manufacturers facts table
4. Creating tables
5. Loading the data to the tables

***Libraries :***

In [1]:
import pandas as pd
import numpy as np

## 1. Cleaning the original data

In [2]:
evWest_initial_df = pd.read_csv("data/evWest.csv")
print("columns", evWest_initial_df.columns.to_list())
print("rows", len(evWest_initial_df))
evWest_initial_df.head(10)

columns ['category', 'model', 'model_description', 'model_name', 'manufacturer', 'weight', 'price']
rows 187

,category,model,model_description,model_name,manufacturer,weight,price
0,Batteries,INR2170M50L T\n,Lithium 2170 21700 Battery Cell\n5000mAh 14....,Lithium 2170 21700 Battery Cell,: EV West\n,: 0.00,$799.00
1,Batteries,BAT-2.6-\n16S\n,"Lithium Ion Battery - 60.8V , 2.6kWh\nThese ...","Lithium Ion Battery - 60.8V , 2.6kWh",:\n,: 38.00,$799.00
2,Batteries,BAT-1.7-7S\n,Lithium Super Cells 1.6 kWh - JH3\n63Ah 7S H...,Lithium Super Cells 1.6 kWh - JH3,: EV West\n,: 20.00,$499.00
3,Batteries,BAT-3.4-\n7S2P\n,Lithium Super Cells 3.2 kWh - JP3\n128Ah 2P7...,Lithium Super Cells 3.2 kWh - JP3,:\n,: 40.00,$879.00
4,Batteries,INR25R\n,Samsung INR 18650 25R Lithium\nBattery Cells...,Samsung INR 18650 25R Lithium,: Samsung\n,: 0.00,$330.00
5,Batteries,SM-SDI-60\n,Samsung SDI 60Ah Lithium Ion\nBattery Cell\n...,Samsung SDI 60Ah Lithium Ion,: Samsung\n,: 5.00,$59.00
6,Batteries,ESS-3.5\n,Samsung SDI ESS Energy Storage\nBattery 16S ...,Samsung SDI ESS Energy Storage,: Samsung\n,: 110.00,$699.00
7,Batteries,ESS-7.6\n,Samsung SDI ESS Energy Storage\nBattery 22S ...,Samsung SDI ESS Energy Storage,: Samsung\n,: 140.00,$999.00
8,Batteries,Tesla MS\n,Tesla,Tesla,: Tesla\n,: 55.00,"$1,580.00"
9,Batteries,18650-3\n,$799.00$990.00Tesla Smart Lithium Ion Batter...,$799.00$990.00Tesla Smart Lithium Ion Battery,: Tesla\n,: 42.00,$799.00

removing unnessary chrachers and adjusting the data types

In [3]:
evWest_df_1= evWest_initial_df.replace(':','', regex=True)
#evWest_df_1.head()
evWest_df_2 = evWest_df_1.replace('\n','', regex=True)
evWest_df_2['price']= evWest_df_2.price.str.replace("$", "")
# evWest_df_2.head(20)
evWest_df_2['price']= evWest_df_2.price.str.replace(",", "")
evWest_df_2.head(20)
evWest_df_2['price']= evWest_df_2.price.str.replace(r"[a-zA-Z]",'')
evWest_df_2.head(10)
evWest_df_2['price']= evWest_df_2.price.str.replace(r"&",'')
evWest_df_2.head(50)
evWest_df_3 = evWest_df_2.apply(lambda x : x.str.strip() if x.dtype == 'object' else x)
evWest_df_3.dtypes
evWest_df_3[["price", "weight"]]= evWest_df_3[["price", "weight"]].astype('float')
evWest_df_3.dtypes
# evWest_df_3.head(10)
# # evWest_df_3['manufacture_effective_date']= pd.Timestamp('2022-04-10')
# evWest_df_3.head()

/tmp/ipykernel_7776/3319203021.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  evWest_df_2['price']= evWest_df_2.price.str.replace("$", "")
/tmp/ipykernel_7776/3319203021.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  evWest_df_2['price']= evWest_df_2.price.str.replace(r"[a-zA-Z]",'')

category              object
model                 object
model_description     object
model_name            object
manufacturer          object
weight               float64
price                float64
dtype: object

In [4]:
len(evWest_df_3)

187

In [5]:
evWest_df_3.head()

,category,model,model_description,model_name,manufacturer,weight,price
0,Batteries,INR2170M50L T,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,Lithium 2170 21700 Battery Cell,EV West,0.0,799.0
1,Batteries,BAT-2.6-16S,"Lithium Ion Battery - 60.8V , 2.6kWhThese batt...","Lithium Ion Battery - 60.8V , 2.6kWh",,38.0,799.0
2,Batteries,BAT-1.7-7S,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,Lithium Super Cells 1.6 kWh - JH3,EV West,20.0,499.0
3,Batteries,BAT-3.4-7S2P,Lithium Super Cells 3.2 kWh - JP3128Ah 2P7S Hi...,Lithium Super Cells 3.2 kWh - JP3,,40.0,879.0
4,Batteries,INR25R,Samsung INR 18650 25R LithiumBattery Cells - B...,Samsung INR 18650 25R Lithium,Samsung,0.0,330.0

In [6]:
len(evWest_df_3.model.unique())

146

In [7]:
evWest_df_3.groupby('model', as_index=False).size()

           model  size
0                   26
1     1000aShunt     1
2      1313-4401     1
3           1314     1
4        18650-3     1
..           ...   ...
141  Vac PumpCVR     1
142  WRXThrottle     1
143     Zilla 1K     1
144     Zilla 2K     1
145      bracket     1

[146 rows x 2 columns]

In [8]:
evWest_df_3.isna().sum()
missing_model_values = evWest_df_3[evWest_df_3['model'] == ''].index

for item in missing_model_values:
    evWest_df_3.loc[item,["model"]]= "M"+str(item)

missing_model_values = evWest_df_3[evWest_df_3['model'] == ''].index

now we have all unique model names

In [9]:
len(evWest_df_3.model.unique())

171

adding vendor_since	 and product_release_Date

Sinse the pdf data is limited , I have populadated this fields using random dates , I made sure that product_release_date is after the vendor since

---- creating manufacturer fields------

In [10]:
evWest_df_4 = evWest_df_3.copy()

In [11]:
evWest_df_4['manufacturer']= evWest_df_4.manufacturer.replace('', 'UnknownVendor')

## 2. Splitting data into tables and adding SCD, PK and additinal columns(the data is limited therefore we are adding wendor since columns to give a dimension to the dat)

### 2.a Manufacturers Table

In [12]:
manufacturer_distinct = evWest_df_4.drop_duplicates(subset=['manufacturer'], keep='first')
manufacturer_distinct= manufacturer_distinct.loc[ :, ["manufacturer"]]
manufacturer_distinct

              manufacturer
0                  EV West
1            UnknownVendor
4                  Samsung
8                    Tesla
11             RinconPower
14                   Elcon
16               Manzanita
19            DilithiumBMS
20                 Chennic
22              Modular EV
26        QuickChargePower
32                   HPEVS
35                  Curtis
45   RinehartMotionSystems
53           NetGainMotors
85                  Deltec
88                     AEM
93          TBSElectronics
95             Canadian EV
99            MSD Ignition
112                   SSBC
149              AM Racing
175           Tyco Kilovac
176            EmproShunts
177                  Smart
180                   Behr

In [13]:
# evWest_df_4["manufacturer"]=evWest_df_4["manufacturer"].mask(evWest_df_4["manufacturer"] == '')
unique_manufacturers = manufacturer_distinct.manufacturer.unique()
start_date = '2018-01-01'
end_date = '2023-04-11'
num_rows = len(evWest_df_3.manufacturer.unique())# number of rows in the DataFrame
# Randomly sample dates from the sequence
# Generate a sequence of dates within the range of years
dates = pd.date_range(start=start_date, end=end_date)
random_dates = np.random.choice(dates, size=len(unique_manufacturers), replace=True)

# Create a new DataFrame with "manufacturer" and "vendor_since" columns
manufacturer_distinct_v2 = pd.DataFrame({"manufacturer": unique_manufacturers, "manucafturer_since": random_dates})

In [14]:
manufacturer_distinct_v2['manu_row_effective']=manufacturer_distinct_v2["manucafturer_since"]
manufacturer_distinct_v2['manu_row_expiration']= (np.nan)
manufacturer_distinct_v2['manu_row_expiration'] = manufacturer_distinct_v2['manu_row_expiration'].astype('datetime64[as]')
manufacturer_distinct_v2.head()

    manufacturer manucafturer_since manu_row_effective manu_row_expiration
0        EV West         2021-01-22         2021-01-22                 NaT
1  UnknownVendor         2020-06-22         2020-06-22                 NaT
2        Samsung         2021-07-11         2021-07-11                 NaT
3          Tesla         2018-11-12         2018-11-12                 NaT
4    RinconPower         2019-05-06         2019-05-06                 NaT

In [15]:
manufacturer_distinct_v2= manufacturer_distinct_v2.reset_index(drop=True)
manufacturer_distinct_v2["manufacture_id"] =manufacturer_distinct_v2.index+1
#setting all initial values are as active 
manufacturer_distinct_v2["manu_row_ind"]= "active"
# #initial sk we just set to the index 
manufacturer_distinct_v2= manufacturer_distinct_v2.reset_index(drop=True)
manufacturer_distinct_v2["sk_manufature"]=manufacturer_distinct_v2.index+1
manufacturer_distinct_v2.head()
manufacturer_distinct_v2.rename(columns = {'manufacturer':'manufacturer_name'}, inplace = True)
manufacturer_distinct_v2.head()

,manufacturer_name,manucafturer_since,manu_row_effective,manu_row_expiration,manufacture_id,manu_row_ind,sk_manufature
0,EV West,2021-01-22,2021-01-22,NaT,1,active,1
1,UnknownVendor,2020-06-22,2020-06-22,NaT,2,active,2
2,Samsung,2021-07-11,2021-07-11,NaT,3,active,3
3,Tesla,2018-11-12,2018-11-12,NaT,4,active,4
4,RinconPower,2019-05-06,2019-05-06,NaT,5,active,5

creating the manufacturer_dim  in the correct order

In [16]:
manufacturer_dim = manufacturer_distinct_v2[["manufacture_id","manufacturer_name", "sk_manufature","manucafturer_since", "manu_row_effective", "manu_row_expiration",'manu_row_ind' ]]
manufacturer_dim.head()

,manufacture_id,manufacturer_name,sk_manufature,manucafturer_since,manu_row_effective,manu_row_expiration,manu_row_ind
0,1,EV West,1,2021-01-22,2021-01-22,NaT,active
1,2,UnknownVendor,2,2020-06-22,2020-06-22,NaT,active
2,3,Samsung,3,2021-07-11,2021-07-11,NaT,active
3,4,Tesla,4,2018-11-12,2018-11-12,NaT,active
4,5,RinconPower,5,2019-05-06,2019-05-06,NaT,active

In [17]:
manufacturer_dim_date_taken = manufacturer_distinct_v2[["manufacture_id","manufacturer_name", "sk_manufature", "manu_row_effective", "manu_row_expiration",'manu_row_ind' ]]

In [18]:
manufacturer_dim_date_taken.head()

,manufacture_id,manufacturer_name,sk_manufature,manu_row_effective,manu_row_expiration,manu_row_ind
0,1,EV West,1,2021-01-22,NaT,active
1,2,UnknownVendor,2,2020-06-22,NaT,active
2,3,Samsung,3,2021-07-11,NaT,active
3,4,Tesla,4,2018-11-12,NaT,active
4,5,RinconPower,5,2019-05-06,NaT,active

In [19]:
len(manufacturer_dim_date_taken)

26

In [20]:
manufacturer_dim_date_taken.manufacturer_name

0                   EV West
1             UnknownVendor
2                   Samsung
3                     Tesla
4               RinconPower
5                     Elcon
6                 Manzanita
7              DilithiumBMS
8                   Chennic
9                Modular EV
10         QuickChargePower
11                    HPEVS
12                   Curtis
13    RinehartMotionSystems
14            NetGainMotors
15                   Deltec
16                      AEM
17           TBSElectronics
18              Canadian EV
19             MSD Ignition
20                     SSBC
21                AM Racing
22             Tyco Kilovac
23              EmproShunts
24                    Smart
25                     Behr
Name: manufacturer_name, dtype: object

------

### 2-c date dimension table

date -dim

In [21]:
manufacturer_date = manufacturer_distinct_v2[["manucafturer_since"]]
manufacturer_date.head()
manufacturer_date.loc[:, "year"] = manufacturer_date["manucafturer_since"].dt.year
manufacturer_date.loc[:, "month"] = manufacturer_date["manucafturer_since"].dt.month
manufacturer_date.loc[:, "day"] = manufacturer_date["manucafturer_since"].dt.day
manufacturer_date.head()

/tmp/ipykernel_7776/1473497591.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  manufacturer_date.loc[:, "year"] = manufacturer_date["manucafturer_since"].dt.year
/tmp/ipykernel_7776/1473497591.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  manufacturer_date.loc[:, "month"] = manufacturer_date["manucafturer_since"].dt.month
/tmp/ipykernel_7776/1473497591.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  manufacturer_date.loc[:, "day"] = manufacturer_date["manucafturer_since"].dt.day

  manucafturer_since  year  month  day
0         2021-01-22  2021      1   22
1         2020-06-22  2020      6   22
2         2021-07-11  2021      7   11
3         2018-11-12  2018     11   12
4         2019-05-06  2019      5    6

In [22]:
len(manufacturer_date)

26

In [23]:
import pandas as pd

In [24]:
manufacturer_date['date_id'] = manufacturer_date.apply(lambda x: int(str(x['year']) + str(x['month']).zfill(2) + str(x['day']).zfill(2)), axis=1)

/tmp/ipykernel_7776/1653386360.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  manufacturer_date['date_id'] = manufacturer_date.apply(lambda x: int(str(x['year']) + str(x['month']).zfill(2) + str(x['day']).zfill(2)), axis=1)

In [25]:
manufacturer_date.head()

  manucafturer_since  year  month  day   date_id
0         2021-01-22  2021      1   22  20210122
1         2020-06-22  2020      6   22  20200622
2         2021-07-11  2021      7   11  20210711
3         2018-11-12  2018     11   12  20181112
4         2019-05-06  2019      5    6  20190506

In [26]:
len(manufacturer_date)

26

In [27]:
manufacturer_date.rename(columns = {'manucafturer_since':'date'}, inplace = True)

/tmp/ipykernel_7776/184128922.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  manufacturer_date.rename(columns = {'manucafturer_since':'date'}, inplace = True)

In [28]:
date_dim = manufacturer_date[["date_id", "day","month", "year", "date"]]
date_dim.head()

    date_id  day  month  year       date
0  20210122   22      1  2021 2021-01-22
1  20200622   22      6  2020 2020-06-22
2  20210711   11      7  2021 2021-07-11
3  20181112   12     11  2018 2018-11-12
4  20190506    6      5  2019 2019-05-06

---------------------

### 2.c  product dim

In [29]:
evWest_df_4['model']= evWest_df_4.model.replace('', 'NULL')

In [30]:
evWest_df_4.columns

Index(['category', 'model', 'model_description', 'model_name', 'manufacturer',
       'weight', 'price'],
      dtype='object')

- After my research I understand that model is not unqiue I also need to check for model name too create the uniqueness 
- I checked the dublicates below and it seems that same products has been listed multiple times under micellaneous and one under used_companents
- to keep things simple and we just keep the first record and ignore the dublicated listed because at the end the company has only one product with Parts Unlimited

In [31]:
#group by to check how many times each row repaeted 
test= evWest_df_4.groupby(["model", "model_name"], as_index=False).size()
print(test.loc[test['size'] >1])

           model                      model_name  size
37   ChargePlate  J1772 Inlet Mounting Plate for     2
155    Slip Yoke    Spicer 1350 Series 27 Spline     2
172     Tesla MS                           Tesla     2

My business questions requires an over time overview of manufacturer and their products. Since our data is limited we are generating a random date to create this

In [32]:
product_distinct = evWest_df_4.drop_duplicates(subset=['model', "model_name", "category"], keep='first')
product_distinct= product_distinct.loc[ :, ['category', 'model', 'model_description', 'model_name']]
product_distinct.head()

,category,model,model_description,model_name
0,Batteries,INR2170M50L T,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,Lithium 2170 21700 Battery Cell
1,Batteries,BAT-2.6-16S,"Lithium Ion Battery - 60.8V , 2.6kWhThese batt...","Lithium Ion Battery - 60.8V , 2.6kWh"
2,Batteries,BAT-1.7-7S,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,Lithium Super Cells 1.6 kWh - JH3
3,Batteries,BAT-3.4-7S2P,Lithium Super Cells 3.2 kWh - JP3128Ah 2P7S Hi...,Lithium Super Cells 3.2 kWh - JP3
4,Batteries,INR25R,Samsung INR 18650 25R LithiumBattery Cells - B...,Samsung INR 18650 25R Lithium

In [33]:
product_distinct['prod_updated_at']= (np.nan)
product_distinct['prod_updated_at'] = product_distinct['prod_updated_at'].astype('datetime64[as]')
product_distinct['product_name_prev']= " "

In [34]:
product_distinct.rename(columns = {'model':'product_code'}, inplace = True)
product_distinct.rename(columns = {'model_name':'product_name'}, inplace = True)
product_distinct.rename(columns = {'model_description':'product_description'}, inplace = True)
product_distinct.rename(columns = {'category':'product_category'}, inplace = True)

In [35]:
product_distinct= product_distinct.reset_index(drop=True)
product_distinct["product_id"] =product_distinct.index+1

In [36]:
product_distinct.head()

,product_category,product_code,product_description,product_name,prod_updated_at,product_name_prev,product_id
0,Batteries,INR2170M50L T,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,Lithium 2170 21700 Battery Cell,NaT,,1
1,Batteries,BAT-2.6-16S,"Lithium Ion Battery - 60.8V , 2.6kWhThese batt...","Lithium Ion Battery - 60.8V , 2.6kWh",NaT,,2
2,Batteries,BAT-1.7-7S,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,Lithium Super Cells 1.6 kWh - JH3,NaT,,3
3,Batteries,BAT-3.4-7S2P,Lithium Super Cells 3.2 kWh - JP3128Ah 2P7S Hi...,Lithium Super Cells 3.2 kWh - JP3,NaT,,4
4,Batteries,INR25R,Samsung INR 18650 25R LithiumBattery Cells - B...,Samsung INR 18650 25R Lithium,NaT,,5

In [37]:
product_dim = product_distinct[["product_id","product_code","product_name","product_category",  "product_description","product_name_prev", "prod_updated_at"]]
product_dim.head()

,product_id,product_code,product_name,product_category,product_description,product_name_prev,prod_updated_at
0,1,INR2170M50L T,Lithium 2170 21700 Battery Cell,Batteries,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,,NaT
1,2,BAT-2.6-16S,"Lithium Ion Battery - 60.8V , 2.6kWh",Batteries,"Lithium Ion Battery - 60.8V , 2.6kWhThese batt...",,NaT
2,3,BAT-1.7-7S,Lithium Super Cells 1.6 kWh - JH3,Batteries,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,,NaT
3,4,BAT-3.4-7S2P,Lithium Super Cells 3.2 kWh - JP3,Batteries,Lithium Super Cells 3.2 kWh - JP3128Ah 2P7S Hi...,,NaT
4,5,INR25R,Samsung INR 18650 25R Lithium,Batteries,Samsung INR 18650 25R LithiumBattery Cells - B...,,NaT

---------------

**2.d manufacturer locations:**

In [38]:
import pandas as pd

manufacturer_loc = pd.read_csv("data/manufacturers_addresses.csv")
manufacturer_loc.head()

  manufacturer_name        city    state      country      lat      long
0           EV West  San Marcos       CA           US  33.1447  117.1658
1           Samsung       Seoul  Unknown  South Korea  37.5665  126.9780
2             Tesla   Palo Alto       CA           US  37.4419  122.1430
3       RinconPower   Oceanside       CA           US  33.1959  117.3795
4             Elcon         Lod  Unknown       Israel  32.0036   34.8882

In [39]:
len(manufacturer_loc)

26

In [40]:
manufacturer_loc['latitude']= float(0)
manufacturer_loc['longitude']= float(0)

In [41]:
manufacturer_loc.head()

,manufacturer_name,city,state,country,lat,long,latitude,longitude
0,EV West,San Marcos,CA,US,33.1447,117.1658,0.0,0.0
1,Samsung,Seoul,Unknown,South Korea,37.5665,126.9780,0.0,0.0
2,Tesla,Palo Alto,CA,US,37.4419,122.1430,0.0,0.0
3,RinconPower,Oceanside,CA,US,33.1959,117.3795,0.0,0.0
4,Elcon,Lod,Unknown,Israel,32.0036,34.8882,0.0,0.0

In [42]:
manufacturer_loc.rename(columns = {'lat':'city_lat', 'long': 'city_long'}, inplace = True)

In [43]:
import regionInfo

In [44]:
manufacturer_loc['region']= manufacturer_loc['state'].apply(regionInfo.get_region)
manufacturer_loc.head()

,manufacturer_name,city,state,country,city_lat,city_long,latitude,longitude,region
0,EV West,San Marcos,CA,US,33.1447,117.1658,0.0,0.0,West
1,Samsung,Seoul,Unknown,South Korea,37.5665,126.9780,0.0,0.0,Unknown
2,Tesla,Palo Alto,CA,US,37.4419,122.1430,0.0,0.0,West
3,RinconPower,Oceanside,CA,US,33.1959,117.3795,0.0,0.0,West
4,Elcon,Lod,Unknown,Israel,32.0036,34.8882,0.0,0.0,Unknown

In [45]:
print(len(manufacturer_loc))
manufacturer_loc

26

,manufacturer_name,city,state,country,city_lat,city_long,latitude,longitude,region
0,EV West,San Marcos,CA,US,33.1447,117.1658,0.0,0.0,West
1,Samsung,Seoul,Unknown,South Korea,37.5665,126.9780,0.0,0.0,Unknown
2,Tesla,Palo Alto,CA,US,37.4419,122.1430,0.0,0.0,West
3,RinconPower,Oceanside,CA,US,33.1959,117.3795,0.0,0.0,West
4,Elcon,Lod,Unknown,Israel,32.0036,34.8882,0.0,0.0,Unknown
5,Manzanita,Richmond Hill,Ontario,Canada,43.8828,79.4403,0.0,0.0,None
6,DilithiumBMS,Oceanside,CA,US,33.1959,117.3795,0.0,0.0,West
7,Chennic,Shenzhen,Unknown,China,22.5431,114.0579,0.0,0.0,Unknown
8,Modular EV,Pryor,OK,US,35.0078,97.0929,0.0,0.0,South
9,QuickChargePower,Victoria,BC,Canada,48.4284,123.3656,0.0,0.0,None
10,HPEVS,Round Rock,TX,US,30.5083,97.6789,0.0,0.0,South
11,Curtis,Mount Kisco,NY,US,41.2000,73.7300,0.0,0.0,Northeast
12,RinehartMotionSystems,Wilsonville,OR,US,43.8041,120.5542,0.0,0.0,West
13,NetGainMotors,Georgetown,IN,US,38.2709,85.9352,0.0,0.0,Midwest
14,Deltec,Batavia,OH,US,40.4173,82.9071,0.0,0.0,Midwest
15,AEM,Hawthorne,CA,US,33.9164,118.3526,0.0,0.0,West
16,TBSElectronics,Mississauga,Ontario,Canada,43.5890,79.6441,0.0,0.0,None
17,Canadian EV,Delta,BS,Canada,49.0890,123.0824,0.0,0.0,None
18,MSD Ignition,El Paso,TX,US,31.7619,106.4850,0.0,0.0,South
19,SSBC,Clarence,NY,US,42.9943,78.7170,0.0,0.0,Northeast
20,AM Racing,Cedar Park,TX,US,30.4960,97.8179,0.0,0.0,South
21,Tyco Kilovac,Menlo Park,CA,US,37.4585,122.1606,0.0,0.0,West
22,EmproShunts,Indianapolis,IN,US,39.7684,86.1581,0.0,0.0,Midwest
23,Smart,Stuttgart,Unknown,Germany,48.7758,9.1829,0.0,0.0,Unknown
24,Behr,Stuttgart,Unknown,Germany,48.7361,9.1440,0.0,0.0,Unknown
25,UnknownVendor,Unknown,Unknown,Unknown,0.0000,0.0000,0.0,0.0,Unknown

* we use mask to filter null values and fill them with the Unkown word.
* we need this step because otherwise empty values will not show in our dataframe

In [46]:
mask = manufacturer_loc['region'].isna()
manufacturer_loc.loc[mask, 'region'] = 'Unknown'

In [47]:
manufacturer_loc

,manufacturer_name,city,state,country,city_lat,city_long,latitude,longitude,region
0,EV West,San Marcos,CA,US,33.1447,117.1658,0.0,0.0,West
1,Samsung,Seoul,Unknown,South Korea,37.5665,126.9780,0.0,0.0,Unknown
2,Tesla,Palo Alto,CA,US,37.4419,122.1430,0.0,0.0,West
3,RinconPower,Oceanside,CA,US,33.1959,117.3795,0.0,0.0,West
4,Elcon,Lod,Unknown,Israel,32.0036,34.8882,0.0,0.0,Unknown
5,Manzanita,Richmond Hill,Ontario,Canada,43.8828,79.4403,0.0,0.0,Unknown
6,DilithiumBMS,Oceanside,CA,US,33.1959,117.3795,0.0,0.0,West
7,Chennic,Shenzhen,Unknown,China,22.5431,114.0579,0.0,0.0,Unknown
8,Modular EV,Pryor,OK,US,35.0078,97.0929,0.0,0.0,South
9,QuickChargePower,Victoria,BC,Canada,48.4284,123.3656,0.0,0.0,Unknown
10,HPEVS,Round Rock,TX,US,30.5083,97.6789,0.0,0.0,South
11,Curtis,Mount Kisco,NY,US,41.2000,73.7300,0.0,0.0,Northeast
12,RinehartMotionSystems,Wilsonville,OR,US,43.8041,120.5542,0.0,0.0,West
13,NetGainMotors,Georgetown,IN,US,38.2709,85.9352,0.0,0.0,Midwest
14,Deltec,Batavia,OH,US,40.4173,82.9071,0.0,0.0,Midwest
15,AEM,Hawthorne,CA,US,33.9164,118.3526,0.0,0.0,West
16,TBSElectronics,Mississauga,Ontario,Canada,43.5890,79.6441,0.0,0.0,Unknown
17,Canadian EV,Delta,BS,Canada,49.0890,123.0824,0.0,0.0,Unknown
18,MSD Ignition,El Paso,TX,US,31.7619,106.4850,0.0,0.0,South
19,SSBC,Clarence,NY,US,42.9943,78.7170,0.0,0.0,Northeast
20,AM Racing,Cedar Park,TX,US,30.4960,97.8179,0.0,0.0,South
21,Tyco Kilovac,Menlo Park,CA,US,37.4585,122.1606,0.0,0.0,West
22,EmproShunts,Indianapolis,IN,US,39.7684,86.1581,0.0,0.0,Midwest
23,Smart,Stuttgart,Unknown,Germany,48.7758,9.1829,0.0,0.0,Unknown
24,Behr,Stuttgart,Unknown,Germany,48.7361,9.1440,0.0,0.0,Unknown
25,UnknownVendor,Unknown,Unknown,Unknown,0.0000,0.0000,0.0,0.0,Unknown

since we do not have actual location for city and state we are just going to fill those values , we are going to fill with city lat and long

In [48]:
manufacturer_loc['latitude'] = manufacturer_loc['city_lat']
manufacturer_loc['longitude'] = manufacturer_loc['city_long']

In [49]:
manufacturer_loc_distinct= manufacturer_loc.groupby(['latitude', 'longitude','city', 'state','city_lat',
       'city_long','region', 'country',], as_index=False).size()
# location_df= result.groupby(['latitude', 'longitude','city', 'state', 'country'], as_index=False).size()

In [50]:
manufacturer_loc_distinct

,latitude,longitude,city,state,city_lat,city_long,region,country,size
0,0.0000,0.0000,Unknown,Unknown,0.0000,0.0000,Unknown,Unknown,1
1,22.5431,114.0579,Shenzhen,Unknown,22.5431,114.0579,Unknown,China,1
2,30.4960,97.8179,Cedar Park,TX,30.4960,97.8179,South,US,1
3,30.5083,97.6789,Round Rock,TX,30.5083,97.6789,South,US,1
4,31.7619,106.4850,El Paso,TX,31.7619,106.4850,South,US,1
5,32.0036,34.8882,Lod,Unknown,32.0036,34.8882,Unknown,Israel,1
6,33.1447,117.1658,San Marcos,CA,33.1447,117.1658,West,US,1
7,33.1959,117.3795,Oceanside,CA,33.1959,117.3795,West,US,2
8,33.9164,118.3526,Hawthorne,CA,33.9164,118.3526,West,US,1
9,35.0078,97.0929,Pryor,OK,35.0078,97.0929,South,US,1
10,37.4419,122.1430,Palo Alto,CA,37.4419,122.1430,West,US,1
11,37.4585,122.1606,Menlo Park,CA,37.4585,122.1606,West,US,1
12,37.5665,126.9780,Seoul,Unknown,37.5665,126.9780,Unknown,South Korea,1
13,38.2709,85.9352,Georgetown,IN,38.2709,85.9352,Midwest,US,1
14,39.7684,86.1581,Indianapolis,IN,39.7684,86.1581,Midwest,US,1
15,40.4173,82.9071,Batavia,OH,40.4173,82.9071,Midwest,US,1
16,41.2000,73.7300,Mount Kisco,NY,41.2000,73.7300,Northeast,US,1
17,42.9943,78.7170,Clarence,NY,42.9943,78.7170,Northeast,US,1
18,43.5890,79.6441,Mississauga,Ontario,43.5890,79.6441,Unknown,Canada,1
19,43.8041,120.5542,Wilsonville,OR,43.8041,120.5542,West,US,1
20,43.8828,79.4403,Richmond Hill,Ontario,43.8828,79.4403,Unknown,Canada,1
21,48.4284,123.3656,Victoria,BC,48.4284,123.3656,Unknown,Canada,1
22,48.7361,9.1440,Stuttgart,Unknown,48.7361,9.1440,Unknown,Germany,1
23,48.7758,9.1829,Stuttgart,Unknown,48.7758,9.1829,Unknown,Germany,1
24,49.0890,123.0824,Delta,BS,49.0890,123.0824,Unknown,Canada,1

we can add now the location id

we use hash values to get distinct digit keys for our values

In [51]:
# generate unique IDs from latitude and longitude
manufacturer_loc_distinct['location_id'] = (manufacturer_loc_distinct['latitude'].astype(str) + manufacturer_loc_distinct['longitude'].astype(str)).apply(hash).apply(int)

In [52]:
manufacturer_loc_distinct

,latitude,longitude,city,state,city_lat,city_long,region,country,size,location_id
0,0.0000,0.0000,Unknown,Unknown,0.0000,0.0000,Unknown,Unknown,1,8018034037322972237
1,22.5431,114.0579,Shenzhen,Unknown,22.5431,114.0579,Unknown,China,1,-3435235513580756885
2,30.4960,97.8179,Cedar Park,TX,30.4960,97.8179,South,US,1,-4354373985585770066
3,30.5083,97.6789,Round Rock,TX,30.5083,97.6789,South,US,1,-4641266076695069053
4,31.7619,106.4850,El Paso,TX,31.7619,106.4850,South,US,1,5896934800267583453
5,32.0036,34.8882,Lod,Unknown,32.0036,34.8882,Unknown,Israel,1,-2538222718509307187
6,33.1447,117.1658,San Marcos,CA,33.1447,117.1658,West,US,1,3039909480531641640
7,33.1959,117.3795,Oceanside,CA,33.1959,117.3795,West,US,2,-7383686865005177540
8,33.9164,118.3526,Hawthorne,CA,33.9164,118.3526,West,US,1,251677157290850720
9,35.0078,97.0929,Pryor,OK,35.0078,97.0929,South,US,1,4843510737121653971
10,37.4419,122.1430,Palo Alto,CA,37.4419,122.1430,West,US,1,1689406283421043460
11,37.4585,122.1606,Menlo Park,CA,37.4585,122.1606,West,US,1,-7999325929677667037
12,37.5665,126.9780,Seoul,Unknown,37.5665,126.9780,Unknown,South Korea,1,-5366064943099310100
13,38.2709,85.9352,Georgetown,IN,38.2709,85.9352,Midwest,US,1,9112601071092585993
14,39.7684,86.1581,Indianapolis,IN,39.7684,86.1581,Midwest,US,1,-3930322368582044022
15,40.4173,82.9071,Batavia,OH,40.4173,82.9071,Midwest,US,1,-3222054819604960522
16,41.2000,73.7300,Mount Kisco,NY,41.2000,73.7300,Northeast,US,1,6491735438810163284
17,42.9943,78.7170,Clarence,NY,42.9943,78.7170,Northeast,US,1,4086001822011734961
18,43.5890,79.6441,Mississauga,Ontario,43.5890,79.6441,Unknown,Canada,1,3671717353532027701
19,43.8041,120.5542,Wilsonville,OR,43.8041,120.5542,West,US,1,3346975606318131386
20,43.8828,79.4403,Richmond Hill,Ontario,43.8828,79.4403,Unknown,Canada,1,-7172280397437006208
21,48.4284,123.3656,Victoria,BC,48.4284,123.3656,Unknown,Canada,1,-4540589044327683168
22,48.7361,9.1440,Stuttgart,Unknown,48.7361,9.1440,Unknown,Germany,1,-9086319992244527636
23,48.7758,9.1829,Stuttgart,Unknown,48.7758,9.1829,Unknown,Germany,1,-8966390436821800411
24,49.0890,123.0824,Delta,BS,49.0890,123.0824,Unknown,Canada,1,1934537004070335300

lets add scd type values

let's merge with manufacturer to see if we got all the manufacturer's addresses

In [53]:
manufacturer_loc_distinct['lat_prev'] =float(0)
manufacturer_loc_distinct['long_prev'] = float(0)
# convert NaN values to null dates
manufacturer_loc_distinct['updated_at'] = pd.to_datetime(np.NaN, errors='coerce')

In [54]:
manufacturer_loc_distinct.columns

Index(['latitude', 'longitude', 'city', 'state', 'city_lat', 'city_long',
       'region', 'country', 'size', 'location_id', 'lat_prev', 'long_prev',
       'updated_at'],
      dtype='object')

this is our final dimenstion table

In [55]:
manufacturer_location_dim = manufacturer_loc_distinct[['location_id','city', 'state', 'region', 'country','latitude', 'longitude', 'city_lat', 'city_long','lat_prev', 'long_prev','updated_at' ]]

In [56]:
manufacturer_location_dim.columns

Index(['location_id', 'city', 'state', 'region', 'country', 'latitude',
       'longitude', 'city_lat', 'city_long', 'lat_prev', 'long_prev',
       'updated_at'],
      dtype='object')

since we need to connect these through the manufacturer name we merge with manufacturer table first

In [57]:
manufacturer_loc.head()

,manufacturer_name,city,state,country,city_lat,city_long,latitude,longitude,region
0,EV West,San Marcos,CA,US,33.1447,117.1658,33.1447,117.1658,West
1,Samsung,Seoul,Unknown,South Korea,37.5665,126.9780,37.5665,126.9780,Unknown
2,Tesla,Palo Alto,CA,US,37.4419,122.1430,37.4419,122.1430,West
3,RinconPower,Oceanside,CA,US,33.1959,117.3795,33.1959,117.3795,West
4,Elcon,Lod,Unknown,Israel,32.0036,34.8882,32.0036,34.8882,Unknown

In [58]:
location_fact_merge_df  =  pd.merge(manufacturer_loc, manufacturer_loc_distinct,how='outer',indicator=True, on = ['city', 'state', 'region', 'country', 'latitude',
       'longitude', 'city_lat', 'city_long'])
location_fact_merge_df

,manufacturer_name,city,state,country,city_lat,city_long,latitude,longitude,region,size,location_id,lat_prev,long_prev,updated_at,_merge
0,EV West,San Marcos,CA,US,33.1447,117.1658,33.1447,117.1658,West,1,3039909480531641640,0.0,0.0,NaT,both
1,Samsung,Seoul,Unknown,South Korea,37.5665,126.9780,37.5665,126.9780,Unknown,1,-5366064943099310100,0.0,0.0,NaT,both
2,Tesla,Palo Alto,CA,US,37.4419,122.1430,37.4419,122.1430,West,1,1689406283421043460,0.0,0.0,NaT,both
3,RinconPower,Oceanside,CA,US,33.1959,117.3795,33.1959,117.3795,West,2,-7383686865005177540,0.0,0.0,NaT,both
4,DilithiumBMS,Oceanside,CA,US,33.1959,117.3795,33.1959,117.3795,West,2,-7383686865005177540,0.0,0.0,NaT,both
5,Elcon,Lod,Unknown,Israel,32.0036,34.8882,32.0036,34.8882,Unknown,1,-2538222718509307187,0.0,0.0,NaT,both
6,Manzanita,Richmond Hill,Ontario,Canada,43.8828,79.4403,43.8828,79.4403,Unknown,1,-7172280397437006208,0.0,0.0,NaT,both
7,Chennic,Shenzhen,Unknown,China,22.5431,114.0579,22.5431,114.0579,Unknown,1,-3435235513580756885,0.0,0.0,NaT,both
8,Modular EV,Pryor,OK,US,35.0078,97.0929,35.0078,97.0929,South,1,4843510737121653971,0.0,0.0,NaT,both
9,QuickChargePower,Victoria,BC,Canada,48.4284,123.3656,48.4284,123.3656,Unknown,1,-4540589044327683168,0.0,0.0,NaT,both
10,HPEVS,Round Rock,TX,US,30.5083,97.6789,30.5083,97.6789,South,1,-4641266076695069053,0.0,0.0,NaT,both
11,Curtis,Mount Kisco,NY,US,41.2000,73.7300,41.2000,73.7300,Northeast,1,6491735438810163284,0.0,0.0,NaT,both
12,RinehartMotionSystems,Wilsonville,OR,US,43.8041,120.5542,43.8041,120.5542,West,1,3346975606318131386,0.0,0.0,NaT,both
13,NetGainMotors,Georgetown,IN,US,38.2709,85.9352,38.2709,85.9352,Midwest,1,9112601071092585993,0.0,0.0,NaT,both
14,Deltec,Batavia,OH,US,40.4173,82.9071,40.4173,82.9071,Midwest,1,-3222054819604960522,0.0,0.0,NaT,both
15,AEM,Hawthorne,CA,US,33.9164,118.3526,33.9164,118.3526,West,1,251677157290850720,0.0,0.0,NaT,both
16,TBSElectronics,Mississauga,Ontario,Canada,43.5890,79.6441,43.5890,79.6441,Unknown,1,3671717353532027701,0.0,0.0,NaT,both
17,Canadian EV,Delta,BS,Canada,49.0890,123.0824,49.0890,123.0824,Unknown,1,1934537004070335300,0.0,0.0,NaT,both
18,MSD Ignition,El Paso,TX,US,31.7619,106.4850,31.7619,106.4850,South,1,5896934800267583453,0.0,0.0,NaT,both
19,SSBC,Clarence,NY,US,42.9943,78.7170,42.9943,78.7170,Northeast,1,4086001822011734961,0.0,0.0,NaT,both
20,AM Racing,Cedar Park,TX,US,30.4960,97.8179,30.4960,97.8179,South,1,-4354373985585770066,0.0,0.0,NaT,both
21,Tyco Kilovac,Menlo Park,CA,US,37.4585,122.1606,37.4585,122.1606,West,1,-7999325929677667037,0.0,0.0,NaT,both
22,EmproShunts,Indianapolis,IN,US,39.7684,86.1581,39.7684,86.1581,Midwest,1,-3930322368582044022,0.0,0.0,NaT,both
23,Smart,Stuttgart,Unknown,Germany,48.7758,9.1829,48.7758,9.1829,Unknown,1,-8966390436821800411,0.0,0.0,NaT,both
24,Behr,Stuttgart,Unknown,Germany,48.7361,9.1440,48.7361,9.1440,Unknown,1,-9086319992244527636,0.0,0.0,NaT,both
25,UnknownVendor,Unknown,Unknown,Unknown,0.0000,0.0000,0.0000,0.0000,Unknown,1,8018034037322972237,0.0,0.0,NaT,both

In [59]:
len(location_fact_merge_df)

26

know let's drop the size column

In [60]:
location_fact_merge_df.drop(columns=['size', '_merge'])

,manufacturer_name,city,state,country,city_lat,city_long,latitude,longitude,region,location_id,lat_prev,long_prev,updated_at
0,EV West,San Marcos,CA,US,33.1447,117.1658,33.1447,117.1658,West,3039909480531641640,0.0,0.0,NaT
1,Samsung,Seoul,Unknown,South Korea,37.5665,126.9780,37.5665,126.9780,Unknown,-5366064943099310100,0.0,0.0,NaT
2,Tesla,Palo Alto,CA,US,37.4419,122.1430,37.4419,122.1430,West,1689406283421043460,0.0,0.0,NaT
3,RinconPower,Oceanside,CA,US,33.1959,117.3795,33.1959,117.3795,West,-7383686865005177540,0.0,0.0,NaT
4,DilithiumBMS,Oceanside,CA,US,33.1959,117.3795,33.1959,117.3795,West,-7383686865005177540,0.0,0.0,NaT
5,Elcon,Lod,Unknown,Israel,32.0036,34.8882,32.0036,34.8882,Unknown,-2538222718509307187,0.0,0.0,NaT
6,Manzanita,Richmond Hill,Ontario,Canada,43.8828,79.4403,43.8828,79.4403,Unknown,-7172280397437006208,0.0,0.0,NaT
7,Chennic,Shenzhen,Unknown,China,22.5431,114.0579,22.5431,114.0579,Unknown,-3435235513580756885,0.0,0.0,NaT
8,Modular EV,Pryor,OK,US,35.0078,97.0929,35.0078,97.0929,South,4843510737121653971,0.0,0.0,NaT
9,QuickChargePower,Victoria,BC,Canada,48.4284,123.3656,48.4284,123.3656,Unknown,-4540589044327683168,0.0,0.0,NaT
10,HPEVS,Round Rock,TX,US,30.5083,97.6789,30.5083,97.6789,South,-4641266076695069053,0.0,0.0,NaT
11,Curtis,Mount Kisco,NY,US,41.2000,73.7300,41.2000,73.7300,Northeast,6491735438810163284,0.0,0.0,NaT
12,RinehartMotionSystems,Wilsonville,OR,US,43.8041,120.5542,43.8041,120.5542,West,3346975606318131386,0.0,0.0,NaT
13,NetGainMotors,Georgetown,IN,US,38.2709,85.9352,38.2709,85.9352,Midwest,9112601071092585993,0.0,0.0,NaT
14,Deltec,Batavia,OH,US,40.4173,82.9071,40.4173,82.9071,Midwest,-3222054819604960522,0.0,0.0,NaT
15,AEM,Hawthorne,CA,US,33.9164,118.3526,33.9164,118.3526,West,251677157290850720,0.0,0.0,NaT
16,TBSElectronics,Mississauga,Ontario,Canada,43.5890,79.6441,43.5890,79.6441,Unknown,3671717353532027701,0.0,0.0,NaT
17,Canadian EV,Delta,BS,Canada,49.0890,123.0824,49.0890,123.0824,Unknown,1934537004070335300,0.0,0.0,NaT
18,MSD Ignition,El Paso,TX,US,31.7619,106.4850,31.7619,106.4850,South,5896934800267583453,0.0,0.0,NaT
19,SSBC,Clarence,NY,US,42.9943,78.7170,42.9943,78.7170,Northeast,4086001822011734961,0.0,0.0,NaT
20,AM Racing,Cedar Park,TX,US,30.4960,97.8179,30.4960,97.8179,South,-4354373985585770066,0.0,0.0,NaT
21,Tyco Kilovac,Menlo Park,CA,US,37.4585,122.1606,37.4585,122.1606,West,-7999325929677667037,0.0,0.0,NaT
22,EmproShunts,Indianapolis,IN,US,39.7684,86.1581,39.7684,86.1581,Midwest,-3930322368582044022,0.0,0.0,NaT
23,Smart,Stuttgart,Unknown,Germany,48.7758,9.1829,48.7758,9.1829,Unknown,-8966390436821800411,0.0,0.0,NaT
24,Behr,Stuttgart,Unknown,Germany,48.7361,9.1440,48.7361,9.1440,Unknown,-9086319992244527636,0.0,0.0,NaT
25,UnknownVendor,Unknown,Unknown,Unknown,0.0000,0.0000,0.0000,0.0000,Unknown,8018034037322972237,0.0,0.0,NaT

----------------------------

### 2-d creating the manufacturer fact table

In [61]:
manufacturer_facts_v1 =  evWest_df_4
manufacturer_facts_v1.columns

Index(['category', 'model', 'model_description', 'model_name', 'manufacturer',
       'weight', 'price'],
      dtype='object')

In [62]:
manufacturer_facts_v1.rename(columns = {'manufacturer':'manufacturer_name'}, inplace = True)

In [63]:
manufacturer_facts_v1.head()

,category,model,model_description,model_name,manufacturer_name,weight,price
0,Batteries,INR2170M50L T,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,Lithium 2170 21700 Battery Cell,EV West,0.0,799.0
1,Batteries,BAT-2.6-16S,"Lithium Ion Battery - 60.8V , 2.6kWhThese batt...","Lithium Ion Battery - 60.8V , 2.6kWh",UnknownVendor,38.0,799.0
2,Batteries,BAT-1.7-7S,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,Lithium Super Cells 1.6 kWh - JH3,EV West,20.0,499.0
3,Batteries,BAT-3.4-7S2P,Lithium Super Cells 3.2 kWh - JP3128Ah 2P7S Hi...,Lithium Super Cells 3.2 kWh - JP3,UnknownVendor,40.0,879.0
4,Batteries,INR25R,Samsung INR 18650 25R LithiumBattery Cells - B...,Samsung INR 18650 25R Lithium,Samsung,0.0,330.0

In [65]:

manufacturer_facts_v2 =  pd.merge(manufacturer_facts_v1, manufacturer_dim, on = ["manufacturer_name"])
manufacturer_facts_v2.head()

,category,model,model_description,model_name,manufacturer_name,weight,price,manufacture_id,sk_manufature,manucafturer_since,manu_row_effective,manu_row_expiration,manu_row_ind
0,Batteries,INR2170M50L T,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,Lithium 2170 21700 Battery Cell,EV West,0.0,799.0,1,1,2021-01-22,2021-01-22,NaT,active
1,Batteries,BAT-1.7-7S,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,Lithium Super Cells 1.6 kWh - JH3,EV West,20.0,499.0,1,1,2021-01-22,2021-01-22,NaT,active
2,BatteryEnclosuresAcc,EVW -MX150,MX150 Bulkhead and Connector -Battery Box CAN ...,MX150 Bulkhead and Connector -,EV West,1.0,19.0,1,1,2021-01-22,2021-01-22,NaT,active
3,BatteryEnclosuresAcc,EVW -FBB1,VW Beetle Front Battery Box - '58-71Aluminum F...,VW Beetle Front Battery Box - '58-,EV West,20.0,999.0,1,1,2021-01-22,2021-01-22,NaT,active
4,BatteryEnclosuresAcc,EVW -RBB1,VW Beetle Rear Battery Box - '58-71Aluminum Re...,VW Beetle Rear Battery Box - '58-,EV West,20.0,999.0,1,1,2021-01-22,2021-01-22,NaT,active

In [66]:
manufacturer_facts_v2["manufacture_id"].nunique()

26

In [67]:
manufacturer_facts_v2.columns

Index(['category', 'model', 'model_description', 'model_name',
       'manufacturer_name', 'weight', 'price', 'manufacture_id',
       'sk_manufature', 'manucafturer_since', 'manu_row_effective',
       'manu_row_expiration', 'manu_row_ind'],
      dtype='object')

In [68]:
manufacturer_facts_v2.rename(columns = {'model':'product_code'}, inplace = True)
manufacturer_facts_v2.rename(columns = {'model_name':'product_name'}, inplace = True)
manufacturer_facts_v2.rename(columns = {'model_description':'product_description'}, inplace = True)
manufacturer_facts_v2.rename(columns = {'category':'product_category'}, inplace = True)
manufacturer_facts_v2.rename(columns = {'manucafturer_since':'date'}, inplace = True)

In [69]:
manufacturer_facts_v3 =  pd.merge(manufacturer_facts_v2, product_dim, on = ['product_code',"product_name", "product_category"])
manufacturer_facts_v3.head()

,product_category,product_code,product_description_x,product_name,manufacturer_name,weight,price,manufacture_id,sk_manufature,date,manu_row_effective,manu_row_expiration,manu_row_ind,product_id,product_description_y,product_name_prev,prod_updated_at
0,Batteries,INR2170M50L T,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,Lithium 2170 21700 Battery Cell,EV West,0.0,799.0,1,1,2021-01-22,2021-01-22,NaT,active,1,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,,NaT
1,Batteries,BAT-1.7-7S,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,Lithium Super Cells 1.6 kWh - JH3,EV West,20.0,499.0,1,1,2021-01-22,2021-01-22,NaT,active,3,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,,NaT
2,BatteryEnclosuresAcc,EVW -MX150,MX150 Bulkhead and Connector -Battery Box CAN ...,MX150 Bulkhead and Connector -,EV West,1.0,19.0,1,1,2021-01-22,2021-01-22,NaT,active,11,MX150 Bulkhead and Connector -Battery Box CAN ...,,NaT
3,BatteryEnclosuresAcc,EVW -FBB1,VW Beetle Front Battery Box - '58-71Aluminum F...,VW Beetle Front Battery Box - '58-,EV West,20.0,999.0,1,1,2021-01-22,2021-01-22,NaT,active,13,VW Beetle Front Battery Box - '58-71Aluminum F...,,NaT
4,BatteryEnclosuresAcc,EVW -RBB1,VW Beetle Rear Battery Box - '58-71Aluminum Re...,VW Beetle Rear Battery Box - '58-,EV West,20.0,999.0,1,1,2021-01-22,2021-01-22,NaT,active,14,VW Beetle Rear Battery Box - '58-71Aluminum Re...,,NaT

In [70]:
len(manufacturer_facts_v3)

187

In [71]:
manufacturer_facts_v3["product_id"].nunique()

187

In [72]:
manufacturer_facts_v4 =  pd.merge(manufacturer_facts_v3, date_dim, on = ['date'])
manufacturer_facts_v4.head()

,product_category,product_code,product_description_x,product_name,manufacturer_name,weight,price,manufacture_id,sk_manufature,date,...,manu_row_expiration,manu_row_ind,product_id,product_description_y,product_name_prev,prod_updated_at,date_id,day,month,year
0,Batteries,INR2170M50L T,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,Lithium 2170 21700 Battery Cell,EV West,0.0,799.0,1,1,2021-01-22,...,NaT,active,1,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,,NaT,20210122,22,1,2021
1,Batteries,BAT-1.7-7S,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,Lithium Super Cells 1.6 kWh - JH3,EV West,20.0,499.0,1,1,2021-01-22,...,NaT,active,3,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,,NaT,20210122,22,1,2021
2,BatteryEnclosuresAcc,EVW -MX150,MX150 Bulkhead and Connector -Battery Box CAN ...,MX150 Bulkhead and Connector -,EV West,1.0,19.0,1,1,2021-01-22,...,NaT,active,11,MX150 Bulkhead and Connector -Battery Box CAN ...,,NaT,20210122,22,1,2021
3,BatteryEnclosuresAcc,EVW -FBB1,VW Beetle Front Battery Box - '58-71Aluminum F...,VW Beetle Front Battery Box - '58-,EV West,20.0,999.0,1,1,2021-01-22,...,NaT,active,13,VW Beetle Front Battery Box - '58-71Aluminum F...,,NaT,20210122,22,1,2021
4,BatteryEnclosuresAcc,EVW -RBB1,VW Beetle Rear Battery Box - '58-71Aluminum Re...,VW Beetle Rear Battery Box - '58-,EV West,20.0,999.0,1,1,2021-01-22,...,NaT,active,14,VW Beetle Rear Battery Box - '58-71Aluminum Re...,,NaT,20210122,22,1,2021

In [73]:
manufacturer_facts_v4.columns

Index(['product_category', 'product_code', 'product_description_x',
       'product_name', 'manufacturer_name', 'weight', 'price',
       'manufacture_id', 'sk_manufature', 'date', 'manu_row_effective',
       'manu_row_expiration', 'manu_row_ind', 'product_id',
       'product_description_y', 'product_name_prev', 'prod_updated_at',
       'date_id', 'day', 'month', 'year'],
      dtype='object')

In [74]:
location_fact_merge_df.columns

Index(['manufacturer_name', 'city', 'state', 'country', 'city_lat',
       'city_long', 'latitude', 'longitude', 'region', 'size', 'location_id',
       'lat_prev', 'long_prev', 'updated_at', '_merge'],
      dtype='object')

In [75]:
manufacturer_facts_v5 =  pd.merge(manufacturer_facts_v4,location_fact_merge_df,how='outer',  on = ['manufacturer_name'])
manufacturer_facts_v5.head()

,product_category,product_code,product_description_x,product_name,manufacturer_name,weight,price,manufacture_id,sk_manufature,date,...,city_long,latitude,longitude,region,size,location_id,lat_prev,long_prev,updated_at,_merge
0,Batteries,INR2170M50L T,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,Lithium 2170 21700 Battery Cell,EV West,0.0,799.0,1,1,2021-01-22,...,117.1658,33.1447,117.1658,West,1,3039909480531641640,0.0,0.0,NaT,both
1,Batteries,BAT-1.7-7S,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,Lithium Super Cells 1.6 kWh - JH3,EV West,20.0,499.0,1,1,2021-01-22,...,117.1658,33.1447,117.1658,West,1,3039909480531641640,0.0,0.0,NaT,both
2,BatteryEnclosuresAcc,EVW -MX150,MX150 Bulkhead and Connector -Battery Box CAN ...,MX150 Bulkhead and Connector -,EV West,1.0,19.0,1,1,2021-01-22,...,117.1658,33.1447,117.1658,West,1,3039909480531641640,0.0,0.0,NaT,both
3,BatteryEnclosuresAcc,EVW -FBB1,VW Beetle Front Battery Box - '58-71Aluminum F...,VW Beetle Front Battery Box - '58-,EV West,20.0,999.0,1,1,2021-01-22,...,117.1658,33.1447,117.1658,West,1,3039909480531641640,0.0,0.0,NaT,both
4,BatteryEnclosuresAcc,EVW -RBB1,VW Beetle Rear Battery Box - '58-71Aluminum Re...,VW Beetle Rear Battery Box - '58-,EV West,20.0,999.0,1,1,2021-01-22,...,117.1658,33.1447,117.1658,West,1,3039909480531641640,0.0,0.0,NaT,both

In [76]:
print( len(manufacturer_facts_v4))
print( len(manufacturer_facts_v5))

187
187

In [77]:
# we can check to see if any of these values are null 'manufacture_id','product_id','date_id','weight', 'price'
manufacturer_facts_v5.loc[manufacturer_facts_v5['date_id'].isnull()]

Empty DataFrame
Columns: [product_category, product_code, product_description_x, product_name, manufacturer_name, weight, price, manufacture_id, sk_manufature, date, manu_row_effective, manu_row_expiration, manu_row_ind, product_id, product_description_y, product_name_prev, prod_updated_at, date_id, day, month, year, city, state, country, city_lat, city_long, latitude, longitude, region, size, location_id, lat_prev, long_prev, updated_at, _merge]
Index: []

[0 rows x 35 columns]

In [78]:
manufacturer_facts_v5.columns

Index(['product_category', 'product_code', 'product_description_x',
       'product_name', 'manufacturer_name', 'weight', 'price',
       'manufacture_id', 'sk_manufature', 'date', 'manu_row_effective',
       'manu_row_expiration', 'manu_row_ind', 'product_id',
       'product_description_y', 'product_name_prev', 'prod_updated_at',
       'date_id', 'day', 'month', 'year', 'city', 'state', 'country',
       'city_lat', 'city_long', 'latitude', 'longitude', 'region', 'size',
       'location_id', 'lat_prev', 'long_prev', 'updated_at', '_merge'],
      dtype='object')

In [90]:
summary = manufacturer_facts_v5.copy()
summary["quantity"]=1
# summary = result.groupby(['year','month','region','city_lat', 'city_long','city', 'state', 'country']).

summary = summary.groupby(['manufacture_id','year','month','region','city_lat', 'city_long','city', 'state', 'country']).agg({'quantity': 'sum'})

summary = summary.reset_index()
summary

,manufacture_id,year,month,region,city_lat,city_long,city,state,country,quantity
0,1,2021,1,West,33.1447,117.1658,San Marcos,CA,US,75
1,2,2020,6,Unknown,0.0000,0.0000,Unknown,Unknown,Unknown,12
2,3,2021,7,Unknown,37.5665,126.9780,Seoul,Unknown,South Korea,4
3,4,2018,11,West,37.4419,122.1430,Palo Alto,CA,US,11
4,5,2019,5,West,33.1959,117.3795,Oceanside,CA,US,1
5,6,2020,12,Unknown,32.0036,34.8882,Lod,Unknown,Israel,5
6,7,2018,3,Unknown,43.8828,79.4403,Richmond Hill,Ontario,Canada,5
7,8,2022,1,West,33.1959,117.3795,Oceanside,CA,US,2
8,9,2018,5,Unknown,22.5431,114.0579,Shenzhen,Unknown,China,1
9,10,2018,8,South,35.0078,97.0929,Pryor,OK,US,1
10,11,2018,11,Unknown,48.4284,123.3656,Victoria,BC,Canada,1
11,12,2018,4,South,30.5083,97.6789,Round Rock,TX,US,15
12,13,2023,2,Northeast,41.2000,73.7300,Mount Kisco,NY,US,5
13,14,2019,7,West,43.8041,120.5542,Wilsonville,OR,US,2
14,15,2020,2,Midwest,38.2709,85.9352,Georgetown,IN,US,3
15,16,2022,8,Midwest,40.4173,82.9071,Batavia,OH,US,3
16,17,2018,3,West,33.9164,118.3526,Hawthorne,CA,US,3
17,18,2023,1,Unknown,43.5890,79.6441,Mississauga,Ontario,Canada,2
18,19,2019,8,Unknown,49.0890,123.0824,Delta,BS,Canada,24
19,20,2022,6,South,31.7619,106.4850,El Paso,TX,US,1
20,21,2018,6,Northeast,42.9943,78.7170,Clarence,NY,US,1
21,22,2019,7,South,30.4960,97.8179,Cedar Park,TX,US,2
22,23,2023,3,West,37.4585,122.1606,Menlo Park,CA,US,1
23,24,2021,5,Midwest,39.7684,86.1581,Indianapolis,IN,US,1
24,25,2023,2,Unknown,48.7758,9.1829,Stuttgart,Unknown,Germany,5
25,26,2020,4,Unknown,48.7361,9.1440,Stuttgart,Unknown,Germany,1

In [91]:
summary.to_pickle('cumulative_manufacturer.pkl')

In [ ]:
manufacturer_facts = manufacturer_facts_v5[['manufacture_id','product_id','location_id','date_id','weight', 'price']]

In [ ]:
manufacturer_facts= manufacturer_facts.reset_index(drop=True)
manufacturer_facts["manu_fact_id"] =manufacturer_facts.index+1
manufacturer_facts["quantity"]= int(1)

In [ ]:
manufacturer_facts.head()

In [ ]:
manufacturer_facts = manufacturer_facts[["manu_fact_id",'manufacture_id', 'product_id','date_id','location_id','weight', 'price','quantity']]

In [ ]:
manufacturer_facts.head()

-----------------------

## 3. creating tables and loading the data

***creating the database***

In [ ]:
# import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
# #establishing the connection
# auto_commit =extensions.ISOLATION_LEVEL_AUTOCOMMIT
# conn = pg.connect(
#     host="localhost",
#     database="postgres",
#     user="postgres",
#     password="arnold")
# #Creating a cursor object using the cursor() method
# conn.set_isolation_level(auto_commit)
# cursor = conn.cursor()
# query = "CREATE database partsUnlimited"
# #Creating a database
# cursor.execute(query)
# print("Database created successfully........")

# #Closing the connection
# conn.close()

------------------

### 3.a manufacturers table

In [ ]:
manufacturer_dim_date_taken.columns

In [ ]:
manufacturer_dim_date_taken.info()

creating the manufacturers table

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.
cursor.execute("DROP TABLE IF EXISTS manufacturers")

#Creating table as per requirement
query ='''CREATE TABLE manufacturers(
    manufacture_id integer UNIQUE NOT NULL,
    sk_manufature integer,
   manufacturer_name VARCHAR(250),
   manu_row_effective DATE,
    manu_row_expiration DATE,
   manu_updated_at DATE ,
   manu_row_ind VARCHAR(100),
   PRIMARY KEY(manufacture_id)
)'''

##Creating a database
cursor.execute(query)
print("Table has been created successfully........")
conn.commit()
# Get the updated list of tables
sqlGetTableList = "SELECT table_schema,table_name FROM information_schema.tables where table_schema='public' ORDER BY table_schema,table_name ;"
#sqlGetTableList = "\dt"


# Retrieve all the rows from the cursor

cursor.execute(sqlGetTableList)
tables = cursor.fetchall()

 
# Print the names of the tables
print("list of tables in partsUnlimited database ")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

***Loading the data to the manufacturers table***

In [ ]:
from sqlalchemy import create_engine
# establish connections
conn_string = 'postgresql://postgres:arnold@localhost/partsunlimited'
  
db = create_engine(conn_string)
conn = db.connect()
print
#converting data to sql
manufacturer_dim_date_taken.to_sql('manufacturers', conn, if_exists= 'replace', index=False)
conn.commit()
db.dispose() 
conn.close()

we will query in the table to see if the date is loaded correctly

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
# create the SQL query to insert the data into the table
query = " select * from manufacturers LIMIT 5"
cursor.execute(query) 
tables = cursor.fetchall()

temp = pd.DataFrame(tables, columns=[['manufacture_id','sk_manufature', 'manufacturer_name', 
       'manu_row_effective', 'manu_row_expiration', 'manu_row_ind']])
print(temp)
cursor.close()
conn.close()

In [ ]:
manufacturer_dim_date_taken.head()

------------------ scd 2 maintnance ------------------

In [ ]:
# new_records = [
#     #completely new line manufacturer 
#     {'manufacturer_name': 'Rivian', 
#      'manu_row_effective': '2023-04-18',
#      'manu_row_expiration': '',
#      'manu_row_ind': 'active'
#      },
#     #current manufacturer no change
#     {'manufacturer_name': 'Tesla', 
#      'manu_row_effective': '2020-09-20', 
#      'manu_row_expiration': '',  
#      'manu_row_ind': 'active'},
#     # current manufacturer name changed 
#     {
#      'manufacturer_name': 'Rincon_Power',  
#      'manu_row_effective': '2018-10-25', 
#        'manu_row_expiration': '',  
#        'manu_row_ind': 'active'}
# ]

# # Identify the new records that need to be inserted into the SCD Type 3 table
# new_records_df = pd.DataFrame(new_records)
# new_records_df.head()
# new_records_df["manu_row_effective"]= new_records_df["manu_row_effective"].astype('datetime64[ns]')
# new_records_df["manu_row_expiration"]= new_records_df["manu_row_expiration"].astype('datetime64[ns]')
# new_records_df.info()

In [ ]:
# import psycopg2 as pg # PostgreSQL
# # from psycopg2 import  extensions
# #establishing the connection
# conn = pg.connect(
#     host="localhost",
#     database="partsunlimited",
#     user="postgres",
#     password="arnold")
# #Creating a cursor object using the cursor() method
# cursor = conn.cursor()
# # create the SQL query to insert the data into the table
# query = " SELECT * FROM manufacturers"
# cursor.execute(query) 
# tables = cursor.fetchall()

# df_manufacturer = pd.DataFrame(tables, columns=[["manufacture_id",	"manufacturer_name",	"sk_manufature"	,"manu_row_effective"	,"manu_row_expiration",	"manu_row_ind"]])
# # print(temp)
# cursor.close()
# conn.close()

In [ ]:
# df_manufacturer

# new_records_to_insert = df_manufacturer.merge(new_records_df, how='left', on = ["manufacturer_name", "manu_row_effective"], indicator=True)
# new_records_to_insert.head()

---------------------

### 3-b creating products dim table and loading the data

creating the table

In [ ]:
product_dim.columns

In [ ]:
product_dim.info()

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.
cursor.execute("DROP TABLE IF EXISTS products")

#Creating table as per requirement
query ='''CREATE TABLE products(
    product_id integer UNIQUE NOT NULL,
    product_code VARCHAR(500),
    product_name VARCHAR(1000),
    product_category VARCHAR(500),
   product_description VARCHAR(2000),
    product_name_prev VARCHAR(1000),
   product_updated_at DATE,
   PRIMARY KEY(product_id)
)'''

##Creating a database
cursor.execute(query)
print("Table has been created successfully........")
conn.commit()
# Get the updated list of tables
sqlGetTableList = "SELECT table_schema,table_name FROM information_schema.tables where table_schema='public' ORDER BY table_schema,table_name ;"
#sqlGetTableList = "\dt"


# Retrieve all the rows from the cursor

cursor.execute(sqlGetTableList)
tables = cursor.fetchall()

 
# Print the names of the tables
print("list of tables in partsUnlimited database ")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

In [ ]:
from sqlalchemy import create_engine
# establish connections
conn_string = 'postgresql://postgres:arnold@localhost/partsunlimited'
  
db = create_engine(conn_string)
conn = db.connect()
print
#converting data to sql
product_dim.to_sql('products', conn, if_exists= 'replace', index=False)
conn.commit()
db.dispose() 
conn.close()

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
# create the SQL query to insert the data into the table
query = " select * from products LIMIT 5"
cursor.execute(query) 
tables = cursor.fetchall()

temp = pd.DataFrame(tables, columns=[['product_id', 'product_code', 'product_name', 'product_category',
       'product_description', 'product_name_prev', 'prod_updated_at']])
print(temp)
cursor.close()
conn.close()

--------------------------

### 3-c creating date dim table and loading the data

In [ ]:
date_dim.columns

In [ ]:
date_dim.info()

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.
cursor.execute("DROP TABLE IF EXISTS date_dim")

#Creating table as per requirement
query ='''CREATE TABLE date_dim(
    date_id integer UNIQUE NOT NULL,
    day int,
    month int,
    year int,
   date date ,
   PRIMARY KEY(date_id)
)'''

##Creating a database
cursor.execute(query)
print("Table has been created successfully........")
conn.commit()
# Get the updated list of tables
sqlGetTableList = "SELECT table_schema,table_name FROM information_schema.tables where table_schema='public' ORDER BY table_schema,table_name ;"
#sqlGetTableList = "\dt"


# Retrieve all the rows from the cursor

cursor.execute(sqlGetTableList)
tables = cursor.fetchall()

 
# Print the names of the tables
print("list of tables in partsUnlimited database ")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

loading the data

In [ ]:
from sqlalchemy import create_engine
# establish connections
conn_string = 'postgresql://postgres:arnold@localhost/partsunlimited'
  
db = create_engine(conn_string)
conn = db.connect()
print
#converting data to sql
date_dim.to_sql('date_dim', conn, if_exists= 'replace', index=False)
conn.commit()
db.dispose() 
conn.close()

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
# create the SQL query to insert the data into the table
query = " select * from date_dim LIMIT 5"
cursor.execute(query) 
tables = cursor.fetchall()

temp = pd.DataFrame(tables, columns=[['date_id', 'day', 'month', 'year', 'date']])
print(temp)
cursor.close()
conn.close()

**3d creating and loading the location data**

In [ ]:
manufacturer_location_dim.columns

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.
cursor.execute("DROP TABLE IF EXISTS location_dim")

#Creating table as per requirement
query ='''CREATE TABLE location_dim(
    location_id integer UNIQUE NOT NULL,
    city varchar(500),
    state varchar(500),
    region varchar(500),
    country varchar(1000),
    latitude float,
    longitude float,
    city_lat float,
    city_long float,
    lat_prev float,
    long_prev float,
   updated_at date ,
   PRIMARY KEY(location_id)
)'''

##Creating a database
cursor.execute(query)
print("Table has been created successfully........")
conn.commit()
# Get the updated list of tables
sqlGetTableList = "SELECT table_schema,table_name FROM information_schema.tables where table_schema='public' ORDER BY table_schema,table_name ;"
#sqlGetTableList = "\dt"


# Retrieve all the rows from the cursor

cursor.execute(sqlGetTableList)
tables = cursor.fetchall()

 
# Print the names of the tables
print("list of tables in partsUnlimited database ")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

loading location data

In [ ]:
from sqlalchemy import create_engine
# establish connections
conn_string = 'postgresql://postgres:arnold@localhost/partsunlimited'
  
db = create_engine(conn_string)
conn = db.connect()
print
#converting data to sql
manufacturer_location_dim.to_sql('location_dim', conn, if_exists= 'replace', index=False)
conn.commit()
db.dispose() 
conn.close()

In [ ]:
manufacturer_location_dim.columns

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
# create the SQL query to insert the data into the table
query = " select * from location_dim LIMIT 5"
cursor.execute(query) 
tables = cursor.fetchall()

temp = pd.DataFrame(tables, columns=[['location_id', 'city', 'state', 'region', 'country', 'latitude',
       'longitude', 'city_lat', 'city_long', 'lat_prev', 'long_prev',
       'updated_at']])
print(temp)
cursor.close()
conn.close()

------------------------

### 3-creating and loading the manufacturer fact table

In [ ]:
manufacturer_facts.columns

In [ ]:
manufacturer_facts.info()

creating the table

creating constrains

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

# alterin the table for the constrain 
query =''' ALTER TABLE manufacturers
ADD CONSTRAINT unique_manufacturer_id
UNIQUE (manufacture_id);
'''
##Creating a database
cursor.execute(query)
print("this alteration has been complited successfully........")
conn.commit()

 
# Print the names of the tables
print("altered database ")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.

#altering the table for the constraint
query =''' ALTER TABLE products
ADD CONSTRAINT unique_product_id
UNIQUE (product_id);
'''
##Creating a database
cursor.execute(query)
print("Table has been created successfully........")
conn.commit()
# Get the updated list of tables
sqlGetTableList = "SELECT table_schema,table_name FROM information_schema.tables where table_schema='public' ORDER BY table_schema,table_name ;"
#sqlGetTableList = "\dt"
# Retrieve all the rows from the cursor

cursor.execute(sqlGetTableList)
tables = cursor.fetchall()

 
# Print the names of the tables
print("constrains database ")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.

#altering the table for the constraint
query =''' ALTER TABLE date_dim
ADD CONSTRAINT unique_date_id
UNIQUE (date_id);
'''
##Creating a database
cursor.execute(query)
print("Table has been created successfully........")
conn.commit()
# Get the updated list of tables
sqlGetTableList = "SELECT table_schema,table_name FROM information_schema.tables where table_schema='public' ORDER BY table_schema,table_name ;"
#sqlGetTableList = "\dt"
# Retrieve all the rows from the cursor

cursor.execute(sqlGetTableList)
tables = cursor.fetchall()

 
# Print the names of the tables
print("constrains database ")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.

#altering the table for the constraint
query =''' ALTER TABLE location_dim
ADD CONSTRAINT unique_location_id
UNIQUE (location_id);
'''
##Creating a database
cursor.execute(query)
print("Table has been altered successfully........")
conn.commit()
# Get the updated list of tables
sqlGetTableList = "SELECT table_schema,table_name FROM information_schema.tables where table_schema='public' ORDER BY table_schema,table_name ;"
#sqlGetTableList = "\dt"
# Retrieve all the rows from the cursor

cursor.execute(sqlGetTableList)
tables = cursor.fetchall()

 
# Print the names of the tables
print("constrains database ")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.
cursor.execute("DROP TABLE IF EXISTS manufacturer_fact")

#Creating table as per requirement
query ='''CREATE TABLE manufacturer_fact(
    manu_fact_id integer UNIQUE NOT NULL PRIMARY KEY,
    manufacture_id integer,
    product_id integer,
   date_id integer,
   location_id integer,
    weight float,
    price float,
    quantity integer,
    CONSTRAINT fk_manufacture_id
        FOREIGN KEY (manufacture_id)
        REFERENCES manufacturers (manufacture_id),
    CONSTRAINT fk_products_id
        FOREIGN KEY (product_id)
        REFERENCES products (product_id),
     CONSTRAINT fk_date_id
        FOREIGN KEY (date_id)
        REFERENCES date_dim (date_id),
    CONSTRAINT fk_location_id
        FOREIGN KEY (location_id)
        REFERENCES location_dim (location_id)
)'''

##Creating a database
cursor.execute(query)
print("Table has been created successfully........")
conn.commit()
# Get the updated list of tables
sqlGetTableList = "SELECT table_schema,table_name FROM information_schema.tables where table_schema='public' ORDER BY table_schema,table_name ;"
#sqlGetTableList = "\dt"


# Retrieve all the rows from the cursor

cursor.execute(sqlGetTableList)
tables = cursor.fetchall()

 
# Print the names of the tables
print("list of tables in partsUnlimited database ")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

load the manufact fact table

In [ ]:
manufacturer_facts.columns

In [ ]:
from sqlalchemy import create_engine
# establish connections
conn_string = 'postgresql://postgres:arnold@localhost/partsunlimited'
  
db = create_engine(conn_string)
conn = db.connect()
print
#converting data to sql
manufacturer_facts.to_sql('manufacturer_fact', conn, if_exists= 'append', index=False)
conn.commit()
db.dispose() 
conn.close()

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
# create the SQL query to insert the data into the table
query = " select * from manufacturer_fact LIMIT 5"
cursor.execute(query) 
tables = cursor.fetchall()

temp = pd.DataFrame(tables, columns=['manu_fact_id', 'manufacture_id', 'product_id', 'date_id','location_id', 'weight',
       'price', 'quantity'])
print(temp)
cursor.close()
conn.close()