In [77]:
#libraries that we need to use 
from sqlalchemy import create_engine
import pgspecial
#load sql
%load_ext sql
#we get access to the dabatabase 
%sql postgresql://postgres:arnold@localhost/partsunlimited

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# SCD Maintnance - Key Management

In this document, I am going to demonstrate scd maintenance and how to manage pk,sk, and increment automatically and default values for scd fields

## 1. ***SCD Type 0 - Ignore any changes***

In this type scd we need to make sure that there will not be anychaging. Normally I will not use this type because I believe there is going to be always some change
in the data but since this is a project requirement. I used month time dimension. Basically we will not change anything in this table, we will ignore it

## 2. ***SCD Type 1 - Overwrite the changes***

For scd one we check for unique keys and when we find the key we update the values 
- When there is a dublicate key we need dedect and over write 
- if the key is like a combination of ddmmyyyy you will end up with the same key and if it is in the dabase you can overwrite 

In this example we are going to change original date is pk 20200210 (2020-02-10) with same code pk 20200210 (2020-02-12).Then we are going to delete the record so that we do keep the original data

**origianal record**

In [78]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.

#altering the table for the constraint
query =''' SELECT * 
FROM date_dim
where date_dim.date_id = 20200210  ;
'''
#executing the query
cursor.execute(query)
conn.commit()

tables = cursor.fetchall()
print(tables)

[(20200210, 12, 2, 2020, datetime.datetime(2020, 2, 10, 0, 0))]

We use sql query to update the record below is the single record update but we can also create a logic to overwrite multiple records, showen in the second rcode cell

In [79]:
%%sql 
# updating single code 
# UPDATE date_dim
# SET month = 12
#     date  = 2
#     year = 2020
#     date = '2020-02-10'::date
# WHERE customer_id = 20200210;

 * postgresql://postgres:***@localhost/partsunlimited
(psycopg2.errors.SyntaxError) syntax error at or near "#"
LINE 1: # updating single code
        ^

[SQL: # updating single code
# UPDATE date_dim
# SET month = 12
#     date  = 2
#     year = 2020
#     date = '2020-02-10'::date
# WHERE customer_id = 20200210;]
(Background on this error at: https://sqlalche.me/e/20/f405)

in here we update table with new records dated 2025

In [80]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.

#altering the table for the constraint
query =''' INSERT INTO date_dim (date_id, day, month, 
year, date)
VALUES  (20200210, 12, 2, 2020, '2020-02-10'::date),
  (20250225, 25, 2, 2025, '2025-02-25'::date),
  (20250214, 14, 2, 2025, '2025-02-14'::date)
ON CONFLICT (date_id) DO UPDATE SET
  day = excluded.day,
  month = excluded.month,
  year = excluded.year,
date = excluded.date;

'''
##Creating a database
cursor.execute(query)
print("Table has been altered successfully........")
conn.commit()

Table has been altered successfully........

we run same query again to see if  our value is updated

In [81]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.

#altering the table for the constraint
query =''' SELECT * 
FROM date_dim
where date_dim.date_id = 20200210  ;

'''
##Creating a database
cursor.execute(query)
print("Table has been altered successfully........")
conn.commit()

tables = cursor.fetchall()
print(tables)

Table has been altered successfully........
[(20200210, 12, 2, 2020, datetime.datetime(2020, 2, 10, 0, 0))]

now we can delete the 2025 records because there is no matching record in our database. We use in operator to specify the pk that we want to delete

In [82]:
%%sql
DELETE FROM date_dim
WHERE date_id IN (20250225, 20250214);

 * postgresql://postgres:***@localhost/partsunlimited
2 rows affected.

[]

----------------

## 3. SCD Type 2 (always adding, not updating, recoding record history)

I picked ev charging stations as scd type 2 because we want to keep track of all the changes in the table and we believe 
- the station data might change over time and we want to full history of it, we are interested to know all the changes in table 
-  this will allow us an accurate reporting 
- this will help when we audit our records
I picked the record below and the change we are going to implement is that their status_code is going to be closed (status code shows if they are currently open or not)

In [83]:
%%sql

SELECT * 
FROM ev_charging_stations
where ev_charging_stations.ev_cs_dim_id = 24

 * postgresql://postgres:***@localhost/partsunlimited
1 rows affected.

[(24, 24, 7184, 'Los Angeles International Airport (LAX) - Lot 6', 'open', 'public', 'USD', datetime.date(2023, 4, 21), None, 'active')]

how do we know if there is any change? <br>
There are multiple ways to dedect the change
1.  we can scan the data (station name, status_sode, access_code, currency)
2.  if there is no match we instert the data 
3.  if there is a match it is a dublicate record

In [84]:
import pandas as pd

The len(delta_df) index value ensures that the new row is added to the end of the DataFrame, regardless of the current number of rows in the DataFrame

In [162]:
delta_df = pd.DataFrame(columns=['charging_station_id', 'station_name'	,'status_code',	'access_code',	'currency'])
delta_df.loc[len(delta_df)]= [7184,'Los Angeles International Airport (LAX) - Lot 6',	'closed'	,'public',	'USD']
delta_df.loc[len(delta_df)] = [1234, 'Fake Station 1', 'closed', 'private', 'EUR']
delta_df.loc[len(delta_df)] = [5678, 'Fake Station 2', 'open', 'public', 'GBP']
delta_df.loc[len(delta_df)] = [9101, 'Fake Station 3', 'under maintenance', 'private', 'USD']
delta_df.head()

,charging_station_id,station_name,status_code,access_code,currency
0,7184,Los Angeles International Airport (LAX) - Lot 6,closed,public,USD
1,1234,Fake Station 1,closed,private,EUR
2,5678,Fake Station 2,open,public,GBP
3,9101,Fake Station 3,under maintenance,private,USD

In [115]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(host="localhost", database="partsunlimited",user="postgres",password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#queriying 
query =''' SELECT * 
FROM ev_charging_stations;
'''
cursor.execute(query)
conn.commit()

tables = cursor.fetchall()
columns = ['ev_cs_dim_id', 'sk_ev_dim_id', 'charging_station_id', 
           'station_name', 'status_code', 'access_code', 'currency', 
           'row_effective_date','row_expiration_date', 'row_status']
database_df = pd.DataFrame(tables, columns=columns)
print('query excecuted')
conn.close()

query excecuted

In [116]:
database_df.head()

,ev_cs_dim_id,sk_ev_dim_id,charging_station_id,station_name,status_code,access_code,currency,row_effective_date,row_expiration_date,row_status
0,1,1,1517,LADWP - Truesdale Center,open,private,USD,2023-04-21,None,active
1,2,2,1519,LADWP - West LA District Office,open,private,USD,2023-04-21,None,active
2,3,3,1520,Southern California Edison - Rosemead Office B...,temprorally_closed,private,USD,2023-04-21,None,active
3,4,4,1523,Los Angeles Convention Center,open,public,USD,2023-04-21,None,active
4,5,5,1525,LADWP - John Ferraro Building,open,private,USD,2023-04-21,None,active

In [118]:
database_df.columns

Index(['ev_cs_dim_id', 'sk_ev_dim_id', 'charging_station_id', 'station_name',
       'status_code', 'access_code', 'currency', 'row_effective_date',
       'row_expiration_date', 'row_status'],
      dtype='object')

In [119]:
print(database_df['charging_station_id'].nunique() )
print(len(database_df))

database_df['charging_station_id'].nunique()- len(database_df)
delta_df.dtypes
database_df['charging_station_id'].isnull().sum()

47087
47087

0

Now we can compare by left joinning our data

In [163]:
df_merged = pd.merge(delta_df,database_df, how='outer', on = ['charging_station_id'], indicator=True)

left only it means there is no match , so it is means there is no match<br>
we can simply insert these records to the database 
(I used charging stations as indicator but normally we could use a combo like station_name, city, state but for this we need to run the fact table and i need location information etc. To simplify this process I am using the source code indicator charging station id.)

In [203]:
new_record_index_list = df_merged.loc[df_merged['_merge'] =='left_only', :].index
new_records= delta_df.iloc[new_record_index_list]
new_records

   charging_station_id    station_name        status_code access_code currency
1                 1234  Fake Station 1             closed     private      EUR
2                 5678  Fake Station 2               open      public      GBP
3                 9101  Fake Station 3  under maintenance     private      USD

In [228]:
%%sql
-- create sequence
CREATE SEQUENCE ev_cs_dim_id_seq OWNED BY public.ev_charging_stations.ev_cs_dim_id;

-- set the current value of the sequence to the max value from that column
-- (ev_cs_dim_id column in this scenario)
SELECT setval('ev_cs_dim_id_seq', COALESCE((SELECT MAX(ev_cs_dim_id) FROM public.ev_charging_stations), 0), false);

-- use sequence for the target column
ALTER TABLE public.ev_charging_stations ALTER COLUMN ev_cs_dim_id SET DEFAULT nextval('ev_cs_dim_id_seq');

 * postgresql://postgres:***@localhost/partsunlimited
Done.
1 rows affected.
Done.

[]

In [229]:
%%sql
-- create a sequence for sk_ev_dim_id
CREATE SEQUENCE sk_ev_dim_id_seq OWNED BY ev_charging_stations.sk_ev_dim_id;

-- set the current value of the sequence to the max value from that column
-- (sk_ev_dim_id column in this scenario)
SELECT SETVAL('sk_ev_dim_id_seq', (SELECT MAX(sk_ev_dim_id) FROM ev_charging_stations), false);

-- use sequence for the target column
ALTER TABLE ev_charging_stations ALTER COLUMN sk_ev_dim_id SET DEFAULT nextval('sk_ev_dim_id_seq');

 * postgresql://postgres:***@localhost/partsunlimited
Done.
1 rows affected.
Done.

[]

In [231]:
%%sql
SELECT * FROM ev_charging_stations WHERE sk_ev_dim_id IS NULL;

 * postgresql://postgres:***@localhost/partsunlimited
0 rows affected.

[]

In [207]:
%%sql
-- add the DEFAULT constraint to the existing column
ALTER TABLE ev_charging_stations
ALTER COLUMN row_effective_date SET DEFAULT CURRENT_TIMESTAMP;

 * postgresql://postgres:***@localhost/partsunlimited
Done.

[]

In [208]:
%%sql
-- add the new column with a default value of NULL
ALTER TABLE ev_charging_stations
ADD COLUMN row_expiration_date DATE DEFAULT NULL;

 * postgresql://postgres:***@localhost/partsunlimited
(psycopg2.errors.DuplicateColumn) column "row_expiration_date" of relation "ev_charging_stations" already exists

[SQL: -- add the new column with a default value of NULL
ALTER TABLE ev_charging_stations
ADD COLUMN row_expiration_date DATE DEFAULT NULL;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [213]:
%%sql
ALTER TABLE ev_charging_stations
ALTER COLUMN sk_ev_dim_id SET DATA TYPE SERIAL PRIMARY KEY;

 * postgresql://postgres:***@localhost/partsunlimited
(psycopg2.errors.SyntaxError) syntax error at or near "PRIMARY"
LINE 2: ALTER COLUMN sk_ev_dim_id SET DATA TYPE SERIAL PRIMARY KEY;
                                                       ^

[SQL: ALTER TABLE ev_charging_stations
ALTER COLUMN sk_ev_dim_id SET DATA TYPE SERIAL PRIMARY KEY;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [232]:
from sqlalchemy import create_engine
# establish connections
conn_string = 'postgresql://postgres:arnold@localhost/partsunlimited'
  
db = create_engine(conn_string)
conn = db.connect()
print
#converting data to sql
new_records.to_sql('ev_charging_stations', conn, if_exists= 'append', index=False)
conn.commit()
db.dispose() 
conn.close()

In [233]:
%%sql
SELECT *
FROM ev_charging_stations
WHERE row_effective_date = '2023-04-25'

 * postgresql://postgres:***@localhost/partsunlimited
3 rows affected.

[(47087, 47087, 1234, 'Fake Station 1', 'closed', 'private', 'EUR', datetime.date(2023, 4, 25), None, None),
 (47088, 47088, 5678, 'Fake Station 2', 'open', 'public', 'GBP', datetime.date(2023, 4, 25), None, None),
 (47089, 47089, 9101, 'Fake Station 3', 'under maintenance', 'private', 'USD', datetime.date(2023, 4, 25), None, None)]

these is the dublicated values if there is not change in the data we skip but if there is any change we need to update our records by inserting a new row with thechanges

compare method :

keep_shape: This parameter ensures that the output dataframe has the same shape as the original dataframes, even if there are differences in the values. Set it to True to keep the shape, or False to show only the differences.

keep_equal: This parameter specifies whether to include rows that are the same in both dataframes. Set it to True to keep the rows that are equal, or False to show only the differences

In [183]:
# get the list of the dublicated records 
dublicated = [df_merged.loc[df_merged['_merge'] =='both', :]['charging_station_id'].values]
x = delta_df.loc[delta_df['charging_station_id'].isin(dublicated), :].set_index('charging_station_id')
y = database_df.loc[database_df['charging_station_id'].isin(dublicated), :]
y = y[['charging_station_id','station_name'	,'status_code',	'access_code',	'currency']].set_index('charging_station_id')
print(x.columns)
print(y.columns)
print(x.index)
print(y.index)
comparison_df = x.compare(y, keep_shape=True, keep_equal=False)
comparison_df

Index(['station_name', 'status_code', 'access_code', 'currency'], dtype='object')
Index(['station_name', 'status_code', 'access_code', 'currency'], dtype='object')
Int64Index([7184], dtype='int64', name='charging_station_id')
Int64Index([7184], dtype='int64', name='charging_station_id')

                    station_name       status_code       access_code        \
                            self other        self other        self other
charging_station_id
7184                         NaN   NaN      closed  open         NaN   NaN

                    currency
                        self other
charging_station_id
7184                     NaN   NaN

In [262]:
# this is going to be the new row that we are goign to create
change_required_df = delta_df.loc[delta_df['charging_station_id']==7184]
print(change_required_df)


# getting pk and sk values 
pk_adjument_needed = database_df.loc[database_df['charging_station_id']==7184]['ev_cs_dim_id'].iloc[0]
pk_adjument_needed= int(pk_adjument_needed) 
print(pk_adjument_needed)
sk_keeping = database_df.loc[database_df['charging_station_id']==7184]['sk_ev_dim_id'].iloc[0]
sk_keeping= int(sk_keeping)
print(sk_keeping)

   charging_station_id                                     station_name  \
0                 7184  Los Angeles International Airport (LAX) - Lot 6

  status_code access_code currency
0      closed      public      USD
24
24

- we need to update old record and change
    - row expiration date to today
    - row status to expired
- then we need to add a new record
    - keeping the sk is the same 
    - row effective is default to today so no action 
    - row expiration date is default none so no action

In [260]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(host="localhost", database="partsunlimited",user="postgres",password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#queriying 
query ='''UPDATE ev_charging_stations SET row_expiration_date = CURRENT_DATE, row_status = 'expired' WHERE ev_cs_dim_id = %s;'''
cursor.execute(query, (pk_adjument_needed,))


conn.commit()



print('query excecuted')
cursor.close()
conn.close()

query excecuted

now we can commit our new changes

In [263]:
change_required_df['sk_ev_dim_id']= sk_keeping

/tmp/ipykernel_5194/2668156993.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  change_required_df['sk_ev_dim_id']= sk_keeping

In [264]:
change_required_df

,charging_station_id,station_name,status_code,access_code,currency,sk_ev_dim_id
0,7184,Los Angeles International Airport (LAX) - Lot 6,closed,public,USD,24

In [267]:
from sqlalchemy import create_engine
# establish connections
conn_string = 'postgresql://postgres:arnold@localhost/partsunlimited'
  
db = create_engine(conn_string)
conn = db.connect()
print
#converting data to sql
change_required_df.to_sql('ev_charging_stations', conn, if_exists= 'append', index=False)
conn.commit()
db.dispose() 
conn.close()

In [272]:
%%sql
SELECT *
FROM ev_charging_stations
WHERE row_effective_date = '2023-04-25';

 * postgresql://postgres:***@localhost/partsunlimited
4 rows affected.

[(47087, 47087, 1234, 'Fake Station 1', 'closed', 'private', 'EUR', datetime.date(2023, 4, 25), None, None),
 (47088, 47088, 5678, 'Fake Station 2', 'open', 'public', 'GBP', datetime.date(2023, 4, 25), None, None),
 (47089, 47089, 9101, 'Fake Station 3', 'under maintenance', 'private', 'USD', datetime.date(2023, 4, 25), None, None),
 (47090, 24, 7184, 'Los Angeles International Airport (LAX) - Lot 6', 'closed', 'public', 'USD', datetime.date(2023, 4, 25), None, None)]

As we see in the query below we set the expiration date from null to todays date and row status to expired

In [273]:
%%sql
SELECT *
FROM ev_charging_stations
WHERE row_expiration_date = '2023-04-25';

 * postgresql://postgres:***@localhost/partsunlimited
1 rows affected.

[(24, 24, 7184, 'Los Angeles International Airport (LAX) - Lot 6', 'open', 'public', 'USD', datetime.date(2023, 4, 21), datetime.date(2023, 4, 25), 'expired')]

let's delete the fake stations

In [275]:
%%sql
DELETE FROM ev_charging_stations WHERE ev_cs_dim_id in (47087, 47088, 47089) ;

 * postgresql://postgres:***@localhost/partsunlimited
3 rows affected.

[]

## 4  scd type 3 implementation

we are going to find a update a station lat info 5009196563441751369
- first we update the record then 
-  update the record from 31.7619 to 31.7618
-  save the previus record as prev 31.7619 
-  update updated date

In [276]:
%%sql
select *
from location_dim 
where location_id = 5009196563441751369;

 * postgresql://postgres:***@localhost/partsunlimited
1 rows affected.

[(5009196563441751369, 'El Paso', 'TX', 'South', 'US', 31.7619, 106.485, 31.7619, 106.485, 0.0, 0.0, None)]

In [280]:
%%sql
UPDATE location_dim 
SET latitude = 31.7618, 
    lat_prev = 31.7619, 
    updated_at = CURRENT_TIMESTAMP 
WHERE location_dim.location_id = '5009196563441751369';

 * postgresql://postgres:***@localhost/partsunlimited
1 rows affected.

[]

now we see the update

In [281]:
%%sql
select *
from location_dim 
where location_id = 5009196563441751369;

 * postgresql://postgres:***@localhost/partsunlimited
1 rows affected.

[(5009196563441751369, 'El Paso', 'TX', 'South', 'US', 31.7618, 106.485, 31.7619, 106.485, 31.7619, 0.0, datetime.datetime(2023, 4, 25, 19, 31, 41, 917946))]

## 5 fact table update

In [282]:
%%sql
select *
from manufacturer_fact
where product_id =1;

 * postgresql://postgres:***@localhost/partsunlimited
1 rows affected.

[(1, 1, 1, 20200210, 3757140647215491119, 0.0, 799.0, 1)]

In [283]:
%%sql
UPDATE manufacturer_fact 
SET price  = 798
WHERE  product_id =1;

 * postgresql://postgres:***@localhost/partsunlimited
1 rows affected.

[]

In [284]:
%%sql
select *
from manufacturer_fact
WHERE  product_id =1;

 * postgresql://postgres:***@localhost/partsunlimited
1 rows affected.

[(1, 1, 1, 20200210, 3757140647215491119, 0.0, 798.0, 1)]